[2021-01-06 02:45] neo-clon opened #1 "container media query is wrong"
Hello!

Thanks for this utility, is awesome!!!

I am testing and can see that the container media query no is orderer correctly

![image](https://user-images.githubusercontent.com/12282168/103722885-8d586000-4f96-11eb-848e-4af32d29aad1.png)

my monitor is 1920 x 1080 and take 768

and see this in css

![image](https://user-images.githubusercontent.com/12282168/103722946-a52fe400-4f96-11eb-80ab-065

[2021-01-06 13:58] voorjaar commented on #1
Thank you, https://github.com/voorjaar/windicss/commit/2a1e69a270ffcf1151b98ffe17bca1bd88c4ee8b fix this error.

Try `npm install` again.

[2021-01-06 15:09] voorjaar commented on #1
I just realized that other media queries still have sorting problems, so I added a new sorting algorithm.

https://github.com/voorjaar/windicss/commit/809e928b5a1f1a6401895823aa37494291e957df is the final solution.

[2021-01-06 17:27] neo-clon commented on #1
excellent, update the dependencies and I see that now it is ordered correctly.

![image](https://user-images.githubusercontent.com/12282168/103800308-dd283d00-5011-11eb-9541-77412d5ca6b7.png)

But I just noticed something else, I did these tests in interpretation mode, but when I change it to compilation mode, the container class and its media queries are ignored.

![image](https://user-images.git

[2021-01-06 19:27] voorjaar commented on #1
https://github.com/voorjaar/windicss/commit/13e21803b304c439ec1a0341ba665e94069cc92f fixed this.

Thanks again. If you find any new issues, please let me know. I will keep this issue open for now.

[2021-01-06 23:07] neo-clon opened #2 "Duration class no compile correctly"
Hi again!

I'm testing various classes and see that duration not is passed in compile time, only on interpreted

![image](https://user-images.githubusercontent.com/12282168/103831319-6efb6e80-5041-11eb-9b58-847a16401691.png)

![image](https://user-images.githubusercontent.com/12282168/103831335-76227c80-5041-11eb-976e-c694ba816e41.png)

[2021-01-07 03:44] voorjaar commented on #2
https://github.com/voorjaar/windicss/commit/9a0bc2a6a78f64a36ff3778a37ffe9d63ef80714 should fix this.

[2021-01-07 03:56] voorjaar commented on #2
The svelte preprocess plugin has also been updated https://github.com/voorjaar/svelte-windicss-preprocess/commit/02fc3bcbf8d6257b8b1f282b1c9812220475271d, so all dependencies should be updated.

[2021-01-07 16:59] #2 closed

[2021-01-08 18:39] juanvillacortac opened #3 "Cannot handle multiline classes"
Example:

[code]

This doesn't generate the expected output

[2021-01-09 03:23] voorjaar commented on #3
https://github.com/voorjaar/windicss/commit/ecf1ed0033151585538d187e8ec5edb263ef07f8 fix this.

This improvement will be released with the next version, please wait a moment.

[2021-01-12 08:35] #3 closed

[2021-01-21 00:46] juanvillacortac opened #5 "TypeError: Reduce of empty array with no initial value"
I just tested the new 2.0.0 release in sveltejs/kit, but when I run the project throws:
[code]

The svelte.config.js is:

[code]

**Note:** I use **[svelte-sequential-preprocessor](https://www.npmjs.com/package/svelte-sequential-preprocessor)** for **svelte-preprocess**  support, but if I disable it, the problem persist.
**Note 2:** I tested the same **svelte-windicss-preprocess** on a vanilla sap

[2021-01-21 05:11] voorjaar commented on #5
This is a very helpful issue. The reason for this is there are components that do not contain any tailwind classes or style block.  https://github.com/voorjaar/windicss/commit/ef71ab89ae752bfa79c57926991b685879b4e38a already fix this.

[2021-01-21 05:11] #5 closed

[2021-01-21 14:56] juanvillacortac opened #6 "CSS Pseudo-classes not supported"
Pseudo-classes like `:hover`, `:first` or `:focus` doesn't work.

A code like this doesn't make effect:

[code]

I think that should affect other CSS statements like `:not(.class)`, but I not tested it yet, so I'm not very sure.

[2021-01-21 17:03] voorjaar commented on #6
Sorry, I made a stupid mistake by escaping class name. https://github.com/voorjaar/svelte-windicss-preprocess/commit/d188b7dd27b80d7ba8c6df1131266f887a563907 should fix it.

[2021-01-21 18:22] juanvillacortac commented on #6
I tested the update, and it works, but in certains conditions, like:

[code]

I think that the parser needs to discriminate correct cases for escaping class names between a windicss class as a class gnerated by `hover:text-red-500` and `h1:hover` when is parsed for having a directive.

[2021-01-21 20:13] voorjaar commented on #6
https://github.com/voorjaar/windicss/commit/e7b2339a2256bc7136aca6aae0b2016ed8396697 now it works.

[2021-01-21 20:13] #6 closed

[2021-01-22 11:38] stilet opened #7 "Error when creating a sapper project"
`(node:9014) UnhandledPromiseRejectionWarning: Error: Cannot find module '../../src/index'`

[2021-01-22 11:54] voorjaar commented on #7
This is a document error. You need to change '../../src/index' to 'svelte-windicss-preprocess'.

See details, https://github.com/voorjaar/svelte-windicss-preprocess/commit/42341d0bfcfca6b3a27f7f0df357304b6ea75e76.

[2021-01-22 11:54] #7 closed

[2021-02-07 18:38] xinsight opened #8 "base tailwind variables"
I followed the install instructions and most of of tailwind works, but I noticed that I couldn't get the `ring` class to work with windicss.

For example, if I have run a file with a single file with `<div class="ring-2" />` i get:

[code]

But nothing appears as i suspect the css vars like `--tw-ring-color` and are not defined. This is likely a noob tailwindcss configuration issue, as I'm not sur

[2021-02-07 18:55] voorjaar commented on #8
I think you're right. I must have missed something when defining this utility. I'll fix this problem later when I release a new version. please wait a moment. By the way, windicsss are a complete refactoring of tailwindcss.

[2021-02-07 19:30] xinsight commented on #8
Yes, i started to look at the source code and realized that you had completely replaced tailwindcss. But windicss is so fast, it's totally worth a few hiccups! :)

[2021-02-07 21:51] xinsight opened #9 "add support for "disabled" attribute"
I encountered an error while adding the disabled attribute to an element.

For example, the following all fail:

[code]

Example error:
[code]

[2021-02-08 04:10] voorjaar commented on #8
https://github.com/voorjaar/windicss/commit/4fa095b75518b8a313fcd467eafe53a76b633b87 fix this.

[2021-02-08 04:27] voorjaar commented on #9
This issue is due to the feature of variant attribute provided by windicss. This feature allows you to use like `disabled="bg-gray-500 text-white"`, but this conflicts with the original html attribute and led to this issue.

Affected include `disabled required checked`, so from the next version these three attributes will be changed to `tw-disabled tw-required tw-checked`.

[2021-02-08 06:04] #8 closed

[2021-02-08 06:27] #9 closed

[2021-02-16 01:35] ottsch opened #11 "Problem with Sapper and Typescript"
Can't seem to get it to work in Sapper/Rollup/Typescript. Build (also dev) hangs forever ... Is there some way to debug/see what's going on?

Config:

[code]

[2021-02-16 12:15] tommywalkie commented on #11
Encountered exact same behaviour inside a Snowpack / Svelte setup. I'm suspecting the parser runs into infinite loops when using template literals.

[code]

[2021-02-17 17:22] ottsch commented on #11
Seems to me that this also leads to an infinite loop

[code]

[2021-02-17 17:29] onderbakirtas opened #12 "Styles in style tag works even if it's commented out"
Hello there. I've met with this brilliance yesterday and encountered a weird issue.

When I comment out my `style` section like this, the code still works and styles get applied:
[code]

But if I comment out my code like this, styles doesn't get applied as intended:
[code]

It doesn't matter if I change the `lang` attribute of the `style` tag, or even omitting it. The issue is bound to Windi CSS s

[2021-02-17 19:04] voorjaar commented on #12
https://github.com/windicss/svelte-windicss-preprocess/commit/d7cd59052fbbac637cf307035424e15de46309f3 should fix this. And also added some tests https://github.com/windicss/svelte-windicss-preprocess/commit/d3c24bc802e688859445b2b4ddf6e96813aa9104. Feel free to contribute.

[2021-02-17 19:04] #12 closed

[2021-02-18 07:06] munxar opened #13 ":global gets added to typography classes over and over again"
## how to reproduce
- uncomment `config: "tailwind.config.js"` in  `example/svelte/rollup.config.js`
[code]
- add only the typography plugin in "tailwind.config.js"
[code]
- add some markup with *.prose* in `example/svelte/src/App.svelte`
[code]
- start dev server `npm i` `npm run dev`
- now start editing App.svelte with markup and / or classes

## what behavior is expected
I expect to see the mar

[2021-02-18 07:12] voorjaar commented on #13
Will fix this later. The best support for me is to use it and then help me promote it.

[2021-02-19 16:58] alexanderniebuhr opened #14 "preflight does not work as expected, missing normalizecss"
I have a strange issue, I am serving my Svelte App with esbuild serve (shouldn't be a problem here, am more than happy to try things with this setup for you), but if I reload the first time it does look correct, site does work completely and is loaded fully, however if I am reloading a second time it does removes some styles, looks strange. Anytime I am changing any class it does work for the firs

[2021-02-19 17:02] alesvaupotic commented on #14
I can confirm the behaviour, happens with Rollup and nollup, too.

[2021-02-19 17:40] alexanderniebuhr commented on #14
I will have a look into the code later tonight. Might find something, and can help with a PR. Any new infos would be great to track here

[2021-02-19 17:51] voorjaar commented on #14
Thank you. I believe the issue exists because every time you refresh, the preflight will be removed. And need to be added again. But it should not effect the build results. I am currently working on other projects, so hope you can fix this issue. Good luck.

[2021-02-19 18:21] alexanderniebuhr commented on #14
@voorjaar I might found the typo, see PR (https://github.com/windicss/svelte-windicss-preprocess/pull/15)

Could we do an extra tag on the NPM package so others, like @alesvaupotic could test, if it works I think you might me able to merge.

[2021-02-19 19:17] alesvaupotic commented on #14
Available for testing any time.

[2021-02-19 20:22] alexanderniebuhr commented on #14
@alesvaupotic check if your preprocessor gets `process.env.NODE_ENV = 'development'`
My setup caused some issues so that the preprocessor did not get it at all, and had `undefined` for the windicss

[2021-02-19 20:22] #14 closed

[2021-02-20 07:48] alesvaupotic commented on #14
I am on default Rollup config with adjusted the config files from README. It does not mention NODE_ENV anywhere.

[2021-02-20 08:17] alexanderniebuhr commented on #14
You would need NODE_ENV as an `process.env.NODE_ENV` to work properly, please try and let us know if it fixes the problem. We are more than happy to update the README than.

[2021-02-20 10:28] alesvaupotic commented on #14
I moved to Snowpack and it's fine. Will come back to Rollup setup later.

[2021-02-20 10:32] alexanderniebuhr commented on #11
This is not a problem of this project it seems that you are not implementing dynamic classes correctly. Please find information here https://svelte.dev/tutorial/classes or here https://flaviocopes.com/svelte-dynamically-apply-css/

It must be either of the ways down here. They are working

[code]

[code]

[code]

[2021-02-20 10:34] alexanderniebuhr commented on #14
you should be able to set `process.env.NODE_ENV` in you package.json scripts, it shouldn't be special to Rollup or Snowpack. Have a look at https://www.npmjs.com/package/cross-env

[2021-02-20 13:51] tommywalkie commented on #11
@alexanderniebuhr It's actually the expected behaviour in vanilla Svelte ([REPL](https://svelte.dev/repl/89053145d4ad440ba4320dd663949d40?version=3.32.3)) thanks to Acorn. Can also confirm I didn't run into related issues on a production app based on Tailwind CSS as a `svelte-preprocess` PostCSS plugin.

[2021-02-20 14:29] alexanderniebuhr commented on #11
I see. Didn't mean that it is not important, sorry if that was not correctly written by me.
Just saying I have seen lots of svelte projects large and small size and totally no one used template literals.

However, I am also looking into this for you guys, so we can fix this. The REPL was extremely helpful to debug this. For now, I can tell that the windicss parser parses this case not correctly, f

[2021-02-20 15:45] alexanderniebuhr commented on #11
@tommywalkie @ottsch I just found a working way to fix them issue. Just please be kindly and have some more patience. I need to clean everything up, but should be fixed the next days.

[2021-02-20 17:53] alexanderniebuhr opened #18 "Utility Groups not working"
needs debugging and validation , issue to keep track

example:
[code]

works with `Compilation mode`
does not work with `Interpretation mode`

[2021-02-20 18:35] alesvaupotic commented on #14
Ok, dedicated some time to it. I think I got it right but how do I debug and confirm that NODE_ENV is passed correctly to WindiCSS? What happens is that it works quite nicely with changing classes in Svelte files, doing @apply changes and similar. It breaks (loses the normalize part) when I re-save a file without any changes to it, like two quick consecutive CTRL-S presses. Once I change something

[2021-02-20 19:03] alexanderniebuhr commented on #14
Logging should be live soon. Then you can change your config as following.  If you have any unexpected behavior, I will ask you to open new issue with information, so I can work on additional fixes.

@voorjaar how to trigger release for the logging?

[code]

[2021-02-20 22:14] alexanderniebuhr opened #19 "migrate to pnpm & add publish pipeline"
ToDo's (will do it the next days)

- [x]  cherry pick and customize latest changes regarding pnpm and building from upstream windicss repo
- [x]  prepare test action
- [x]  prepare publish package action

[2021-02-21 06:55] #11 closed

[2021-02-21 07:20] alexanderniebuhr commented on #11
A fix should be available soon. Please reopen with specific cases which still are breaking, and provide examples as before, so we can reproduce this. I have tested the REPL and the one in the first comment here. Hope this is working for you guys :)

[2021-02-21 10:23] #19 closed

[2021-02-21 10:46] alexanderniebuhr commented on #11
@ottsch @tommywalkie check https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v2.1.5

[2021-02-21 10:47] alexanderniebuhr commented on #14
@alesvaupotic check https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v2.1.5
will update readme later

[2021-02-21 10:48] alexanderniebuhr opened #21 "test command not working on windows"
[code]

[2021-02-21 10:49] alexanderniebuhr opened #22 "update readme and docs"
update docs to match v3.0.0

[2021-02-21 10:50] voorjaar commented on #21
I will switch to esno later.

[2021-02-21 12:11] #21 closed

[2021-02-21 14:05] alesvaupotic commented on #14
After seeing the new logging messages, I was able to ajust my setup and can confirm it works as expected. Thanks!

[2021-02-23 08:20] alexanderniebuhr commented on #18
working on it, tracking branch will be up soon

[2021-02-23 09:55] alexanderniebuhr opened #25 "Include support for windicss 2.2"
for changes see https://github.com/windicss/windicss/discussions/101

- [x] update packages
- [ ] update readme
- [x] include examples

[2021-02-23 12:00] #18 closed

[2021-02-23 13:47] lamualfa opened #26 "ASK - is there a way to import external CSS files?"
## Problem

Because _Tailwind CSS_ use _Post CSS_ for their _CSS Processor_, you can use `postcss-import` plugin to import external CSS file into your project. To prevent using _Post CSS_ in _Windi CSS_ project, how i can import external CSS into my project?

## Example

Example `@import` syntax from `postcss-import` plugin:

[code]

## Solution

I think we can create another _Windi CSS_ plugin to

[2021-02-23 13:53] alexanderniebuhr commented on #26
Would this work for your use case?

[code]

[2021-02-23 14:00] lamualfa commented on #26
No problem. The most important think is we can import External CSS file into our project. Especially if the obfuscating feature of class names in compiled mode can be included too.

[2021-02-23 14:03] alexanderniebuhr commented on #26
Can u test this? Does this work?

[2021-02-23 14:05] voorjaar commented on #26
Yes. Maybe we should add a `imports` config.

[2021-02-23 16:39] #13 closed

[2021-02-23 16:39] alexanderniebuhr commented on #13
https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v2.1.8

[2021-02-23 16:49] alexanderniebuhr commented on #13
keep in mind that you get svelte scoped hashes if you set `globalUtility: false`

[2021-02-23 19:06] munxar commented on #13
thank you @alexanderniebuhr! My tests so far work as expected.

[2021-02-23 19:17] alexanderniebuhr commented on #13
You are very welcome. If you encounter any issues with this issue, please reopen. Otherwise please help us with any new issues you find ;)

[2021-02-23 21:38] munxar opened #28 "global reset styles disappear in dev mode"
# how to reproduce
- check out this repo
- npm i
- npm run build
- cd example/svelte
- npm i
- npm run dev

Add this markup to the src/App.svelte file:
[code]
and hit save. It renders correctly.
Now add one character and hit save:
[code]
Again it renders correctly.
Now remove the last character and hit save:
[code]
Now the global reset styles are gone (not added to bundle.css).
This happens to all

[2021-02-24 05:44] alexanderniebuhr commented on #28
Thanks. Had this issue too.. will have a look soon

[2021-02-24 06:29] alexanderniebuhr commented on #28
@munxar can you please checkout branch `patches/#13-examples` (https://github.com/windicss/svelte-windicss-preprocess/tree/patches/%2313-examples) and test it for me, does it work?
I cannot see the Example breaking with this branch. Can you show screenshot of breaking site?

[2021-02-24 07:21] munxar commented on #28
@alexanderniebuhr here is a short clip that demonstrates the issue: https://youtu.be/XJesYePjgyA
I found out that there must be at least one tailwind class present in the markup to trigger this bug.
with your patch branch this issue is gone, however plugins like typography are not working (styles are missing).

[2021-02-24 07:29] alexanderniebuhr commented on #28
Ok can reproduce. Will be fixed, do you have this problem with any other project except the example?

[2021-02-24 07:41] munxar commented on #28
yes, when I use the svelte-windcss-preprocess in rollup the problem occurs in every project.
with snowpack based projects the problem does not occur.

[2021-02-24 07:43] alexanderniebuhr commented on #28
I thought that. Rollup is making some weird stuff for us. I have a look into it. Production builds shouldn't be a problem though. Might need some time for this. soz

[2021-02-24 17:47] prab-it opened #29 "form input styles doesn't work properly"
Form input styles doesn't work properly, sometimes it works, sometimes it doesn't and sometimes it works partially.
Tested with the latest version of `windicss` + `svelte-windicss-preprocess` on the latest version of `SvelteKit` and `Sapper`.

How to reproduce the issue:
1 - set all the files listed below
2 - `$ npm run dev`
3 - manually refresh the page
4 - `$ npm run build && npm run start`
5 -

[2021-02-24 18:30] alexanderniebuhr commented on #29
Can adapt  your `svelte.config.cjs` to the following and post the logging of svelte-windicss-preprocess please (both `dev` and `build`)

[code]

[2021-02-24 18:52] prab-it commented on #29
`$ npm run dev`
[code]

`$ npm run build`
[code]

[2021-02-24 19:20] alexanderniebuhr commented on #29
@prab-it the problem is caused by the classes you are giving to the component as props. I think there are two workarounds here:

a) If you put them directly in the component it works as expected I would say.
b) Do not use compile mode, then classes will be global.
Would this work as a workaround for you?

I am going to work on a fix for this problem of props (just might take a moment), however as

[2021-02-24 19:38] alexanderniebuhr opened #30 "class sorting wrong"
make sure that class sorting keeps same -> expression based

[2021-02-24 19:40] prab-it commented on #29
@alexanderniebuhr I already know these solutions and they works, but I prefer compile mode and pass class as prop to my components.
Is it a big deal, fix this issue?

[2021-02-24 19:40] alexanderniebuhr opened #31 "add support for classes set through script variable"
a safelist or description to set it, might be the only way to make this possible, since classes are only set in runtime not in preprocess

[2021-02-24 19:46] alexanderniebuhr commented on #29
the main issue is, that the props are not parsed in svelte-preprocessor. Only at svelte compile. So this plugin cannot know what your variable css means. We have to decide how to handle this, since we want to keep this project at the preprocess lifecycle step.

We will have an solution for this, currently I am thinking one of the following (in my preferred order):

a) safelist in config, define cl

[2021-02-24 19:55] prab-it commented on #29
@alexanderniebuhr ok, let's see if we can come up with a better solution.
Thanks for your support! :)

[2021-02-24 19:57] alexanderniebuhr commented on #29
@prab-it turn set `globalUtility: false`  in your config. You are using, svelte kit, for svelte kit you do not need it, I guess. As it adds links to all stylesheets in the head automatically. You can keep compile and props I think. Let me know if that is an option for you?

[2021-02-24 20:06] prab-it commented on #29
@alexanderniebuhr nothing, if I set `globalUtility: false` also the class prop stop working...

[2021-02-24 20:09] alexanderniebuhr opened #32 "plugin styles breaking if in main svelte file"
combined in one issue for better tracking.

styles are getting sorted in wrong order (happens not all the time) therefore breaking if not in component file. This happens for typography and forms so far. Need to do more debugging.

[2021-02-24 20:10] alexanderniebuhr commented on #29
closing this in favor of https://github.com/windicss/svelte-windicss-preprocess/issues/32 as this is not special to this case, but seems to be generic to plugins

[2021-02-24 20:10] #29 closed

[2021-02-24 20:12] alexanderniebuhr commented on #28
closing this in favor of https://github.com/windicss/svelte-windicss-preprocess/issues/32 as this is not special to this case, but seems to be generic

[2021-02-24 20:12] #28 closed

[2021-02-24 20:19] alexanderniebuhr commented on #32
will debug this tomorrow

[2021-02-25 10:53] alexanderniebuhr commented on #32
@prab-it @munxar I am not happy with that, but I would like to ask you guys test your cases with the new examples for rollup & snowpack. (I will add `svelteKit` later, however we might not support that fully until it is released) I think that the old examples where outdated, and this might have led to some issues. I am more than happy to fix this, however first we need to find out if this is happe

[2021-02-25 11:39] wiesson opened #33 "CSS not included if filename is other than index.svelte in subfolders"
The examples have just been refactored, but if I just started to use them 😅 .

If I click on a blog post in the sapper rollup example:

https://github.com/windicss/svelte-windicss-preprocess/tree/main/example/outdated/sapper-webpack/src/routes/blog

The styles are not loaded:

[code]

I suspect, that the import path is relative, not absolute and while adding `/blog to the path, it breaks.

[2021-02-25 11:45] alexanderniebuhr commented on #33
@wiesson can u test latest commit on main

https://github.com/windicss/svelte-windicss-preprocess/commit/c5bc1ed6aae8947609704756cf574a7e9144f8c1

[2021-02-25 12:55] wiesson commented on #33
Thanks!

I think I have an error somewhere. (Serviceworker / Caching - Not sure), because now it suddenly works. 🤷

[2021-02-25 12:56] prab-it commented on #32
@alexanderniebuhr ok, I tested on both, `Sapper` and `SvelteKit`.

`Sapper + Rollup:`
The `bundle.css` made with `rollup-plugin-css-only` fix the issue.

`SvelteKit + Snowpack:`
Works partially with `npm run dev` and it doesn't work with `npm run build && npm run start`.

[2021-02-25 12:56] alexanderniebuhr commented on #33
@wiesson I changed some paths. So might be my issue. I am closing here. If you encounter anything, let me know!

[2021-02-25 12:56] #33 closed

[2021-02-25 12:57] alexanderniebuhr commented on #32
you used the outdated examples?

[2021-02-25 12:59] prab-it commented on #32
@alexanderniebuhr I used the latest examples.
https://github.com/windicss/svelte-windicss-preprocess/tree/main/example/rollup
https://github.com/windicss/svelte-windicss-preprocess/tree/main/example/snowpack

[2021-02-25 13:00] alexanderniebuhr commented on #32
and you added `Sapper` and `svelteKit` yourself?

[2021-02-25 13:02] prab-it commented on #32
@alexanderniebuhr yes.

[2021-02-25 13:04] alexanderniebuhr commented on #32
ok. I am working on examples for `Sapper` and `svelteKit`, just need some more time. Please wait until I finish them, and then look if the setup is close to yours & what is different. I really need to find out if this issue is setup or bundler specific, because I do not see any issue in CSS parsing right now. So it has to be a combination of two!

[2021-02-25 13:38] prab-it commented on #32
@alexanderniebuhr ok, thanks BTW!
Try my `sveltekit-windicss` repo with bug:
[sveltekit-windicss.zip](https://github.com/windicss/svelte-windicss-preprocess/files/6043255/sveltekit-windicss.zip)

[2021-02-25 14:12] alexanderniebuhr commented on #32
@prab-it `globalUtility: false` works for me in your project, as I concluded earlier this might also be the correct way to set with bundlers splitting files into multiple css

[2021-02-25 14:24] wiesson opened #34 "Example for tailwind directives"
I have added

[code]

to a `_layout.svelte` file and somehow the classes are not taken into account. Any idea why? Could you update the sapper example as well? 🤗

I also tried `<style global>...</style>`

[2021-02-25 14:34] alexanderniebuhr commented on #34
check your terminal logs. Rollup shows you why it has not taken them into account. Seems that it removes unused styles. You also see that windicss is parsing the classes. So, check if you can change the rollup config.

Also, I am not sure what to do with `Sapper` and `SvelteKit`, one is going to be replaced the other one needs some more time to be production ready, so I do not feel safe to suggest

[2021-02-25 14:45] wiesson commented on #34
Yes, I'd like to switch to SvelteKit ASAP (from Sapper) but it's just not ready and has major breaking changes on a nightly bases. So we have to hold our Sapper App as long as possible.

You are right, windicss does parse the classes

[code]

but rollup somehow removes them? Any idea, where I could look?

[2021-02-25 14:47] alexanderniebuhr commented on #34
rollup.config.js and used svelte plugin (rollup-plugin-svelte) for rollup. Svelte removes unused styles, I guess. But somehow you can change, might found config for rollup-plugin-svelte

[2021-02-25 14:54] prab-it commented on #32
@alexanderniebuhr you are right, `globalUtility: false` fix the issue! 👍
I don't know what was the problem last time with `globalUtility: false`, but it works!
Is it possible achieve something like this with `Sapper + Rollup`, I mean without `rollup-plugin-css-only`?
Thanks again for your support!

[2021-02-25 14:58] alexanderniebuhr commented on #32
Do not have any Rollup Setup right now, can you share yours too. Then I can have a look

[2021-02-25 15:06] prab-it commented on #32
@alexanderniebuhr wait a second, I found what was the problem, if I set `globalUtility: false`, now I can't pass `class` as `prop` to my `Input` component.
ex. try to set `border-8`, it doesn't work...

`src/routes/index.svelte:`
[code]

[2021-02-25 15:23] prab-it commented on #32
@alexanderniebuhr this is my `sapper-ts-windicss` repo:
[sapper-ts-windicss.zip](https://github.com/windicss/svelte-windicss-preprocess/files/6043941/sapper-ts-windicss.zip)

[2021-02-25 15:53] alexanderniebuhr commented on #32
Ok this is what I told you on the closed issue, then there are only two ways of fixing it, I think.

a) make `svelteKit` bundling in one splitted css and not multiple css.
b) make a safelist option, where you define the classes, you need.

Otherwise, you could have a look at different plugins for windicss which are parsing post compile and not precompile.

[2021-02-25 16:14] alexanderniebuhr opened #35 "support dynamic classes"
will be fixed in future release

[2021-02-25 16:16] alexanderniebuhr commented on #32
@prab-it will be fixed soon. subscribe https://github.com/windicss/svelte-windicss-preprocess/issues/35

[2021-02-25 16:19] #31 closed

[2021-02-25 16:20] alexanderniebuhr commented on #25
readme is tracked in differente issue

[2021-02-25 16:20] #25 closed

[2021-02-25 23:07] lawrencecchen opened #36 "keyframe animation not working"
`animate-spin` generates this code:
[code]
Which doesn't work. Real tailwind generates this instead:
[code]
Not sure if this is svelte specific, but I reproduced the issue with the rollup example in this repo: https://github.com/lawrencecchen/svelte-windicss-preprocess/tree/main/example/rollup

[2021-02-26 06:52] alexanderniebuhr commented on #36
I have tried this, and it is a problem with the mode `compile: true`
Can you confirm that it is working if you set `compile: false`?

I can this output with `compile: false`

[code]

[2021-02-26 07:36] munxar commented on #32
@alexanderniebuhr the rollup example in main branch works for me, no issues so far.

[2021-02-26 07:53] sdelon opened #64 "Dynamic class doesn't render"
Using Windi with sapper, I have an issue when passing a tailwind class as a prop. I am building a responsive nav which has a "direction" prop such as flex-row on large device and flex-col on smaller ones : 

`<ul class="flex {direction} justify-end space-x-8">`

But this direction prop doesn't render on smaller device. I looked in the developer tools and when I uncheck the windi class (eg: windi-1

[2021-02-26 08:42] munxar commented on #35
Just some ideas to this topic:
Imho svelte does a good job with its per component scoping of css.
When you have a countable and predictable amount of combinations you can use @appli in the style section.
This will get the job done. A whitelist won't help, because the pure amount of data that has to be generated would be totaly against what windicss is all about.
So I would propose to have **an opt

[2021-02-26 08:51] alexanderniebuhr commented on #35
Thanks for your input and taking your time, to explain that.
I am also a huge fan off svelte scoping and thought of the apply solution as well. However, people have very custom setups, where there are parsing classes to different svelte files. Must admit = never seen this in many projects. It was always designed with the following

[code]

I am also not a huge fan of a whitelist or safelist; howev

[2021-02-26 08:56] alexanderniebuhr commented on #35
@munxar also you might be able to implement this a hacky way, already. windicss and this preprocessor lib is built to run in browsers, so you might be able to load the esm module somehow and then call the preprocess in a custom function. Feel free to try this out

[2021-02-26 09:08] munxar commented on #35
@alexanderniebuhr yes, I fine it was more meant like an input / brainstorm ;-)
in the meantime, I'll try to glue something together.

[2021-02-26 09:22] noahsalvi commented on #36
Im facing the same problem with animations not working and setting compile to false in my rollup file did not fix it for me.
The bundled output is:
@keyframes svelte-tec5th-spin {
  :global(from) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  :global(to) {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes svelte-tec5th-spin {

[2021-02-26 09:42] prab-it commented on #32
@alexanderniebuhr found an issue with `rollup` with `bundle` option, for more info download attached `rollup-windicss.zip` and open `App.svelte`.
[rollup-windicss.zip](https://github.com/windicss/svelte-windicss-preprocess/files/6048704/rollup-windicss.zip)

[2021-02-26 09:43] alexanderniebuhr commented on #32
will check later

[2021-02-26 10:09] alexanderniebuhr commented on #36
Check later. Have you checked it works with tailwind in svelte. I am remembering having some issues their too

[2021-02-26 10:12] prab-it commented on #32
@alexanderniebuhr ok the main issue is related to live changes. Restart the `dev` server fix this issue.
How to reproduce the issue:
1 - `$ npm run i`
2 - `$ npm run dev`
3 - add one more `Input` in `src/App.svelte`
[code]
`Preview:`
![rollup-windicss-bundle-issue-preview](https://user-images.githubusercontent.com/68732594/109286911-2e3efb00-7823-11eb-817c-14ce44de03d3.png)

[2021-02-26 10:42] wiesson commented on #34
I was able to wrap the global styles with `:global()` and it looks like, its working as expected!

[2021-02-26 11:25] alexanderniebuhr commented on #34
It should wrap global styles with :global()
I might have an idea where to fix. Let me check later today

[2021-02-26 12:54] noahsalvi commented on #36
I replaced my setup with a default tailwind + postcss setup and it works.
https://dev.to/matebek/simplest-way-to-set-up-svelte-with-tailwind-css-41bn

[2021-02-26 13:04] alexanderniebuhr commented on #34
@wiesson can u test with latest master and latest rollup example. Should include global styles if using

[code]

[2021-02-26 13:15] alexanderniebuhr commented on #36
@noahsalvi @lawrencecchen for now workaround is to set `combile: false` and `globalUtility: false`
I will work on a fix for compile mode

[2021-02-26 13:45] alexanderniebuhr commented on #32
Again `globalUtility: false` is the solution and then https://svelte.dev/repl/88c699452f7644afa71f101a5a1b06d2?version=3.24.0 if you need to parse classes as props. Your use case is not support by svelte. Svelte is all about scoped styles. So, the styles need to be defined in the component or in a style tag with (both needs unreleased svelte-windicss-preprocessor and svelte-preprocessor)

[code]
[

[2021-02-26 13:46] alexanderniebuhr commented on #32
actually it works for me, even with `globalUtility: true`, cannot reproduce ur issue

[2021-02-26 13:49] munxar opened #37 "use pnpm as dev dependency"
# steps to reproduce
- git clone repo
- npm i
- npm run build // or other npm tasks
will give an error if the person does not have pnpm installed locally.
adding pnpm as dev dependency would fix.

this is not urgent I personally just don't use pnpm and I like if repos are self contained if i do npm i && npm whatever.

A note in the README that pnpm is a dev dependency would work too.

just close t

[2021-02-26 13:55] alexanderniebuhr commented on #37
@munxar We will stay with pnpm for the time being, but for scripts would this work??

[code]

[2021-02-26 14:11] munxar commented on #37
yes that works, but in favor of simplicity just add it to devDependencies.
you can keep your scripts as is, and someone without pnpm installed would have the same in the end as running npx all the time.

[2021-02-26 14:25] alexanderniebuhr commented on #37
make pr please

[2021-02-26 15:19] #37 closed

[2021-02-26 15:25] alexanderniebuhr commented on #35
@munxar might be looking at https://github.com/voorjaar/windicss-online-demo, it is breaking with 2.2, but might be an idea how to start playground

[2021-02-27 09:24] wiesson commented on #34
Hmm, it did not work for me. I have created an example repo -> https://github.com/wiesson/svelte-sapper-windicss/blob/main/src/components/Styles.svelte (but still wrapped with :global())

[2021-02-27 09:37] alexanderniebuhr commented on #34
@wiesson the change is not released as a package yet. However, you gut try it with this repo and the examples here. Next release is scheduled later tonight.

[2021-03-01 19:06] #34 closed

[2021-03-01 19:06] #32 closed

[2021-03-02 22:13] munxar commented on #28
@alexanderniebuhr sorry, but this issue still exists.
I added a unit test that demonstrates this issue in this PR:
https://github.com/windicss/svelte-windicss-preprocess/pull/39

[2021-03-02 22:25] alexanderniebuhr commented on #28
@munxar i will check tomorrow. I still thing it might be an setup issue..

[2021-03-03 08:44] alexanderniebuhr opened #40 "fallback dev config setting"
add fallback solution for people not using node_nev

[2021-03-03 10:53] trevyn opened #41 "Snowpack example broken"
From fresh clone of `main`:

[code]

[2021-03-03 10:58] alexanderniebuhr commented on #41
`pnpm run dev || pnpm run build` in root folder before starting

[2021-03-03 11:20] trevyn commented on #41
Thanks!:)

[2021-03-03 11:20] #41 closed

[2021-03-04 10:52] alexanderniebuhr commented on #35
@munxar https://github.com/windicss/windicss/commit/16e170d
if you would like to help, you could test this for us, and let us know if we need to do anything special for svelte.

[2021-03-04 11:55] munxar commented on #35
@alexanderniebuhr Yes, I would help, if the implementation would do anything ;-)
right now the string given is returned. To make it work it must compile the classes to the css attributes, so you can bind them at runtime like so:
[code]

[2021-03-04 12:42] alexanderniebuhr opened #42 "fully refactor test class"
i will rework this completely. old test class is not good enough here

[2021-03-04 13:03] munxar commented on #35
@alexanderniebuhr we have a little missunderstanding.
The import was a typo.
Here is a little svelte repl demonstrating what I mean:
https://svelte.dev/repl/18120dbf7da143eeaf1071eda045e36e?version=3.35.0
I have no idea if I use processor, I just hacked something together, but you get the idea.
The implementation of the template literal tag just does literally nothing. It just outputs the template

[2021-03-04 13:10] alexanderniebuhr commented on #35
i get it. here is the function implemented in windicss

[code]
can you check what you get out of it, like what is the response of that function.. for the folowing input.. we need to see what we get back, so we can wrap it i guess. ( i am currently working on tests, after that I will have a look too)

[code]

[2021-03-04 13:41] jakobrosenberg opened #43 "Breaks .svelte modules"
I have a svelte module:

[code]

Whenever I add `svelte-windicss-preprocess`, I can no longer import the module. Instead the bundler hangs. Have tried Rollup and Snowpack.

[2021-03-04 13:43] grenierdev opened #44 "Extra space concatenated between text and expression"
I'm using template literal in my class attribute ```class={`resizer resizer--${axe}`}```. It get preprocessed as ```class="resizer resizer-- {axe}"``` (notice the space between `--` and `{axe}`).

I've dug into the code and found out these two lines. They introduce an extra space between the text and expression part of the attribute.

https://github.com/windicss/svelte-windicss-preprocess/blob/12c

[2021-03-04 13:45] alexanderniebuhr commented on #43
will be fixed with next release

[2021-03-04 13:47] alexanderniebuhr commented on #44
pr are welcome, you are looking wrong. windicss expressions != template literals look here

https://github.com/windicss/svelte-windicss-preprocess/blob/12c4040476569b839e60350bb5ab29d9e751127c/src/utils.ts#L82

[2021-03-04 13:48] alexanderniebuhr commented on #44
but you might not be able to use the styles like you do i am afraid, but try

[2021-03-04 14:07] grenierdev commented on #44
@alexanderniebuhr Thanks for the pointer.

If we take the same example described in the `convertTemplateSyntax`

https://github.com/windicss/svelte-windicss-preprocess/blob/12c4040476569b839e60350bb5ab29d9e751127c/src/utils.ts#L83-L85

That function actually generates 2 spaces after `green`.
[code]

I'm still new to the svelte syntax, but wouldn't it be better to `.replace(/$\{/g, '{')` ?

[2021-03-04 14:10] alexanderniebuhr commented on #44
pls try and submit pr, i will review

[2021-03-04 14:44] alexanderniebuhr commented on #43
@jakobrosenberg do you know if rollup and snowpack hangs, or if windicss-preprocess hangs??

[2021-03-04 16:12] munxar commented on #35
@alexanderniebuhr the function return the interpolated string. that is what I wrote and tested with the current implementation.

const shade = 50
windi`bg-gray-${shade}` === 'bg-gray-50'

[2021-03-04 16:35] alexanderniebuhr commented on #35
@munxar this helps alot.. I am currently on the works.. i will sooon make a release, and you can test for me

[2021-03-04 17:00] alexanderniebuhr commented on #35
@munxar https://github.com/windicss/svelte-windicss-preprocess/commit/a78fc15114a8200211782e66cc66ceb1486208ba supports what you think. It does parse windicss template literals correctly and in my browser the class get replaced in html correctly, however it currently is not working, as the class is missing at runtime, because it was not parsed before.

[2021-03-04 17:22] alexanderniebuhr commented on #35
But it might be something to adapt in windicss itself cc @voorjaar

[2021-03-04 18:05] jakobrosenberg commented on #43
I'm not able to tell.  I just know they hang indefinitely without logging any errors.

[2021-03-04 19:17] alexanderniebuhr commented on #43
can you share your project somehow? I can't reproduce currently with the examples in this repo

[2021-03-04 20:08] jakobrosenberg commented on #43
I'll see if I can create a reproducible.

I've narrowed it down to this loop which seems to run indefinitely.

https://github.com/windicss/svelte-windicss-preprocess/blob/a78fc15114a8200211782e66cc66ceb1486208ba/src/utils.ts#L15-L26

[2021-03-04 20:13] jakobrosenberg commented on #43
It loops back and forth between these two:

![image](https://user-images.githubusercontent.com/4153004/110024178-59977d80-7d2e-11eb-87b5-389dfec1ff81.png)

![image](https://user-images.githubusercontent.com/4153004/110024193-6025f500-7d2e-11eb-957e-a54253651af5.png)

[2021-03-04 20:46] alexanderniebuhr commented on #43
I have an idea.. might be issue because `@apply` is style, and ur text is `apply` with some other logic. So there might be a matching error. I have to debug this more. If you can, please show the part with `apply: (url) =>`

[2021-03-04 21:04] munxar commented on #35
@alexanderniebuhr I found a by far better solution: svelte actions!
see this repl:

https://svelte.dev/repl/197912700b7a42508353656cd64b263a?version=3.35.0

imho it's a better fit for svelte.

[2021-03-04 21:26] alexanderniebuhr commented on #35
i really like this @munxar. I will see if I can combine with windicss lib itself and add some examples in the readme for it tomorrow :)

[2021-03-04 21:35] awmcclain opened #56 "What's the idiomatic way to apply dynamic classes in Svelte?"
I'm trying to migrate over to windi but I'm running into issues with compiling some of the tailwind workarounds we needed to implement in Svelte.

What we're trying to express is this: set the color to `bg-red-600` if the `foo` variable is true, otherwise set it to a dynamic color. Here's how we worked things before:

[code]

where `colorLookup()` returns strings like `"purple"` or `"green"`.

Is

[2021-03-04 23:10] tmaxmax opened #46 "`export let active = false` is preprocessed"
I discovered that if you have the following Svelte code

[code]

the Javascript code ends like this:
[code]

If I remove the windicss preprocess from the config, this doesn't happen anymore. What is happening here?

[2021-03-05 00:47] grenierdev commented on #44
Settled with ```class="resizer {'resizer--'+axe}"```

[2021-03-05 00:47] #44 closed

[2021-03-05 06:59] jakobrosenberg commented on #43
Here's the component

<details>

[code]

</details>

[2021-03-05 07:06] alexanderniebuhr commented on #43
thanks that help me.
Will Update the parser right now :)

[2021-03-05 10:19] alexanderniebuhr commented on #46
I update the parser right now. New version should be available soon

[2021-03-05 11:49] alexanderniebuhr commented on #46
please try pre-Release of experimental parser https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.1

[2021-03-05 11:49] alexanderniebuhr commented on #43
please try pre-Release of experimental parser https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.1

[2021-03-05 13:13] alexanderniebuhr opened #48 "improve REPL build setup"
improve build config of REPL

[2021-03-05 16:09] alexanderniebuhr commented on #30
needs to be validated again with new experimental parser

[2021-03-05 16:12] tmaxmax commented on #46
It seems to work now

[2021-03-05 16:16] alexanderniebuhr commented on #46
Ok I need to improve a bit more with the new parser, but should be released soon. Please be a little patient! You can always use beta release, I will try to keep it as stable as possible

[2021-03-05 17:28] grenierdev opened #50 "Experimental preprocessor using existing parsers"
In the past day, I've put a small proof of concept of a refactor of this project to reuse the Svelte & Windi parsers. You can find it here [grenierdev/svelte-windicss-preprocess](https://github.com/grenierdev/svelte-windicss-preprocess).

[code]

All of which could be passed to something described in https://github.com/windicss/svelte-windicss-preprocess/issues/35#issuecomment-790940288 (using Win

[2021-03-05 17:51] alexanderniebuhr commented on #50
can you look at changes for v3.0.0. We are currently working on a rewrite of the parser! We can discuss your changes too.

[2021-03-05 18:24] grenierdev commented on #50
Will sure look into the [v3.0.0-beta.1](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.1) over the weekend!

If you look at my branch, it's a complete refactor in less than 100 lines. It reuses the built-in parsers of Svelte and WindiCSS to preprocess the markup. It's a simple design that seems to work and is less of a headache to maintain than regex search pattern

[2021-03-05 18:28] alexanderniebuhr commented on #50
I quickly scanned your Prototyp. I really like some implements but something might not work with everything we would like to support. So I suggest we will combine both experimental ideas and make something good. Can you say any about performance of the svelte ast parsing already?
I would only go this way if it is a super big performance improvement as it misses some features we are implementing wi

[2021-03-05 18:48] grenierdev commented on #50
I've wrap the whole [`markup`](https://github.com/grenierdev/svelte-windicss-preprocess/blob/f1a92a587c76b6e5b866078708e095c3302855d1/src/index.ts#L20-L65) function with `console.time/timeEnd`.

On my simple project, here are the timings
[code]

I did the same with v3.0.0-beta.1
[code]

[2021-03-05 18:55] grenierdev commented on #50
Regex will always be faster than parsing into an AST. I believe the tradeoff is worth it as regex can prove cumbersome to maintain.

[2021-03-05 18:57] alexanderniebuhr commented on #50
We have to evaluate all trade-offs in detail, before doing changes in that scale. I will look into your prototype in more detail during the weekend. I still think a combination of both would be the best fit here, but I will check!

[2021-03-06 22:51] nivoc opened #51 "Import Base, Components, Utilities?"
Usually in Tailwind you have to import
@tailwind base;
@tailwind components;
@tailwind utilities;

somewhere. Is it required with svelte-windicss-preprocess? Or does svelte-windicss-preprocess always include the three?

[2021-03-07 01:11] noahsalvi commented on #51
No it isn't required
https://windicss.netlify.app/guide/migration.html#base-styles

[2021-03-07 01:36] noahsalvi opened #52 "Sapper delayed css"
When visiting a sapper site using svelte-windicss-preprocess, the css does not render instantly. Reloading the page makes it even clearer.

REPRO:
Create Sapper Project with Rollup
Install svelte-windicss-preprocess and add it to your rollup
npm run build; npm run start
Go to locahost:3000 and refresh the page, you should see how the css does not render instantly and the content flickers.

[2021-03-07 01:45] noahsalvi commented on #52
And I also tested the same project with postcss and tailwind and it did not cause the same issue.

[2021-03-07 07:47] alexanderniebuhr commented on #52
please provide debug logs of svelte-windicss-preprocess, you can enable in config with
[code]
also provide the version you are using of it according to the release tags of this repo.

[2021-03-07 11:02] #51 closed

[2021-03-07 11:03] nivoc commented on #51
Thanks for the link!

[2021-03-07 12:00] noahsalvi commented on #52
[code]

[2021-03-07 12:14] noahsalvi commented on #52
And I tested it with 3.0.0-beta.1 and 2.3.1

[2021-03-07 13:44] alexanderniebuhr commented on #52
I have reproduced it with your instruction. However, it seems that loading times are same for CSS. More it is failure because sapper default styles do have some base styles. windicss comes with it owns base styles, so they will get collapse. I guess if you delete all styles which are in globa.css and in style tags and base styles, it will work fine.
It is service worker injecting style here. Do no

[2021-03-07 13:53] trevyn commented on #43
I was also running into a hang with 2.3.1, and 3.0.0-beta.1 resolves it.

[2021-03-07 18:11] noahsalvi commented on #52
I played around with the sapper project to find a solution and weirdly enough I got this project to work.
https://github.com/noahsalvi/sapper-netlify-demo/
But I have no idea why it works.

One thing to note is that when you use chrome in incognito mode it sometimes also works.

[2021-03-07 19:10] grenierdev commented on #50
I worked a bit more on my branch. Added a few sanity tests but everything seems to be 100% compatible with the features supported by WindiCSS.

[code]

Also added a [test to figure out if the ignored class names contain Tailwind classes or not](https://github.com/grenierdev/svelte-windicss-preprocess/blob/a99621e7d2577da3176694a3b87966da65de99db/src/preprocessor.ts#L64-L76). When class names aren'

[2021-03-07 20:33] alexanderniebuhr commented on #50
@grenierdev thanks for your update. I found some time to look at it, and it matches all you said. I have to take some more time to evaluate on it!
But my biggest concern for now is that it is using the svelte AST..
This would drop support for this feature (https://windicss.netlify.app/guide/svelte.html#variant-attributes)
I know it is not native HTML, but it is a feature we do currently support, s

[2021-03-08 03:01] grenierdev commented on #50
The AST phase is only building an abstract syntax tree from the markup. It won't validate the markup against a spec like HTML5. So custom attributes like `sm="..."`, `hover="..."` or `dark="..."` are present in the AST. I'll try to piece something tomorrow that combines these variant attributes into the class.

Meanwhile, tonight I added a feature that [prevents WindiCSS to override style in a Sve

[2021-03-08 04:10] trevyn opened #53 "Duplicated entries with multiple Svelte components"
Having multiple Svelte components appears to create duplicated `*`, `html`, `body` etc. entries in the resulting CSS:

<img src="https://user-images.githubusercontent.com/230691/110273019-131f7880-7fe5-11eb-9a60-8b2388afefcc.png" width="300">

[2021-03-08 05:39] alexanderniebuhr commented on #53
please provide debug logs of svelte-windicss-preprocess, you can enable in config with
[code]
also provide the version you are using of it according to the release tags of this repo. Which bundler do you use?

[2021-03-08 05:46] alexanderniebuhr commented on #50
yeah they are present, but won't be interpreted in `ast.css` correct?
I will take a look later on, to check it more in detail and check for features as I said before

[2021-03-08 06:03] trevyn commented on #53
Using snowpack with `svelte-windicss-preprocess` v3.0.0-beta.1

Where should I be looking for the logs? It doesn't show anything, and no extra files are created:

[code]

[2021-03-08 06:06] alexanderniebuhr commented on #53
thanks, that was all I was looking for. Can you try to delete `globalPreflights & globalUtilities` from your preprocess config. Also are the styles duplicated in one css or are they existing in multiple files?

[2021-03-08 06:09] trevyn commented on #53
Same result after deleting `globalPreflights` & `globalUtilities`. Styles are duplicated in one output css file, and it also happens when running in dev mode.

Will try to reproduce with example project now.

[2021-03-08 06:15] alexanderniebuhr commented on #53
Ok, i asked you to reproduce with example project so I can test it myself. If that does not work, please put your project with this behavior on github, so I can clone and check :)

[2021-03-08 07:10] trevyn commented on #53
Ahhh, I think I see what's happening. I want a single `.css` file output, so I'm using

[code]

in the `snowpack.config.js`, and I guess it's just running each Svelte component separately and then gluing all the CSS together. So I guess the best option is for me to figure out how to de-dupe the result...

Project is in the `frontend` directory of [trevyn/turbo](https://github.com/trevyn/turbo).

[2021-03-08 07:15] alexanderniebuhr commented on #53
Svelte windicss preprocess has a hidden bundle config in v2, you can check if that works. V3 will support this too? Just not in beta 1

bundle: <FILEPATH>

[2021-03-08 07:45] alexanderniebuhr commented on #53
Also svelte does de-dedup by default. So it might be snowpack problem here. I will check your project later tonight

[2021-03-08 11:12] wiesson opened #54 "Extra classes with {$$props.class}"
Windi fails with

[code]

Usage
[code]

Any idea, how to add this feature? :)

[2021-03-08 11:33] alexanderniebuhr commented on #54
Might not be added at all. You are trying to use dynamic classes. See the issue "dynamic classes" for that. This is an preprocessor running before svelte runs. So anything svelte handles such as props is not supported. You might be able to use the solution of @munxar

[2021-03-08 11:44] wiesson commented on #54
ah ok! Makes sense to me. FYI - I kind of solved by using:

[code]

[2021-03-08 12:01] lamualfa opened #55 "v3.0.0-beta.1 - Not working with some classes"
## Example

**Windi CSS Config**

[code]

**HTML**

[code]

**Output CSS**

[code]

`h-1.5` and `w-30` the two are is missing from CSS Output.

## Environment

- Rollup `v2.33.1`
- Svelte `v3.29.4`
- Windi CSS Preprocess `v3.0.0-beta.1`

I use Routify Framework for the routing library. See https://github.com/lamualfa/routify-windi.

[2021-03-08 12:03] alexanderniebuhr commented on #54
I wonder that this is working, shouldn't work. Are u using v2 or v3?

[2021-03-08 12:04] alexanderniebuhr commented on #55
please provide debug logs of svelte-windicss-preprocess, you can enable in config with
[code]
also provide the version you are using of it according to the release tags of this repo. Which bundler do you use?

[2021-03-08 12:05] lamualfa commented on #54
Worked in v2 & v3. I have been tested.

[2021-03-08 12:07] lamualfa commented on #55
This is the output:

[code]

[2021-03-08 12:10] lamualfa commented on #55
I have edited the comment.

[2021-03-08 12:12] #54 closed

[2021-03-08 12:14] alexanderniebuhr commented on #55
Do you bundle into one css file afterwards? That might be the issue with double classes..
the issue with missing classes should be fixed in next beta release later this week

[2021-03-08 12:18] lamualfa commented on #55
Maybe yes. But I don't know exactly. I just follow this configuration [rollup.config.js](https://github.com/lamualfa/routify-windi/blob/0c1d23b40f11ac8577bdd46581e68605c83136bb/rollup.config.js#L63).

<hr/>

Ok, thanks.

[2021-03-08 13:44] alexanderniebuhr commented on #55
@lamualfa for the class issue try https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.2
If it still does not show some classes, please provide more detail about svelte code

For de-duplication check if your generated code is on css file with the classes there double too. If yes, your bundler handles each file separately and merges css later. I might be able to help if y

[2021-03-08 13:45] alexanderniebuhr commented on #52
have you found the issue? If yes,  please share solution, so i might be able to tweak some settings in parser

[2021-03-08 13:50] lamualfa commented on #55
Ok, i will try. Thanks.

[2021-03-08 14:01] lamualfa commented on #55
Unfortunately it still doesn't work in `v3.0.0-beta.3`.

**The code that i tested:**

[code]
- `bg-primary h-1.25 mx-auto rounded-lg` work in `v2.3.1`. But `w-40`, `w-30`, `w-20` is not working in that version.
- `bg-primary mx-auto rounded-lg` work in `v3.0.0-beta.3`. But `h-1.25`, `w-40`, `w-30`, `w-20` is not working in that version.

[2021-03-08 14:04] lamualfa commented on #55
I think i need to follow this configuration that provide in [examples](https://github.com/windicss/svelte-windicss-preprocess/blob/v2.1.0/example/svelte/rollup.config.js) folder. I will notify you if the duplication problem still occurs after following that.

[2021-03-08 14:08] alexanderniebuhr commented on #55
this is essential information. Now I know the issue and can fix it, please add this kind of code in future issues always!

[2021-03-08 14:09] lamualfa commented on #55
Ok, sorry. Thanks. I will provide that information for the next Issue.

[2021-03-08 14:40] alexanderniebuhr commented on #56
I can add this to v3. 👍

[2021-03-08 14:44] alexanderniebuhr commented on #56
@awmcclain also reference the ideas here https://github.com/windicss/svelte-windicss-preprocess/issues/35#issuecomment-790940288. Might also be an option for you

[2021-03-08 15:31] alexanderniebuhr commented on #55
i think latest beta should work now

[2021-03-08 15:36] lamualfa commented on #55
Ok, thanks. Will the directive class work too?

**Example**

[code]

Ref: https://svelte.dev/tutorial/classes

[2021-03-08 16:01] alexanderniebuhr commented on #55
not yet, but will work with v3

[2021-03-08 16:01] alexanderniebuhr opened #57 "add support for directive classes"
[code]

Ref: https://svelte.dev/tutorial/classes

_Originally posted by @lamualfa in https://github.com/windicss/svelte-windicss-preprocess/issues/55#issuecomment-792837341_

[2021-03-08 16:01] #55 closed

[2021-03-08 19:59] noahsalvi commented on #53
I also get this problem with rollup.

[code]

For every component in my app, there is a duplicate of windicss reset.

REPO:
1. Install official svelte template
2. Add svelte-windicss-preprocess
3. Add to rollup
4. Create a new component with tailwind classes
5. Import into the app component.
6. build the project
7. Check bundle.css

[2021-03-08 21:21] grenierdev commented on #50
Got the chance to add support for variant attributes.

https://github.com/grenierdev/svelte-windicss-preprocess/blob/ceb2e1d6e636bf6f727a7e60aa3280c3da4cdd32/src/preprocessor.spec.ts#L220-L242

The next feature would be the [class directive](https://svelte.dev/docs#class_name).

[2021-03-08 22:58] lamualfa commented on #55
@alexanderniebuhr Thank you very much for your hard work 🙏🙏🙏.

[2021-03-09 00:27] lamualfa commented on #55
@alexanderniebuhr I'am sorry, but i have trying to use the project from [example](https://github.com/windicss/svelte-windicss-preprocess/tree/main/example/rollup) directory and still not working.

`App.svelte`

[code]

**Output**

![image](https://user-images.githubusercontent.com/39755201/110399358-4ecf4680-80a8-11eb-901e-5eaa4db9cc4d.png)

<hr>

## Note

- I have tried it using `svelte-windicss-

[2021-03-09 02:28] grenierdev commented on #50
Class directives are now supported.

[code]

Encountered a bug with WindiCSS compiler discarding complex template literal element like `text-gray-${func()}`. Will check on that later this week.

[2021-03-09 06:22] alexanderniebuhr commented on #50
thanks for the update. We have decided in the contributors team, that we will not adapt svelte AST. However, if that is good with you, we will adapt some of your ideas, in the new v3 parser

[2021-03-09 06:28] alexanderniebuhr commented on #55
@lamualfa i think `compile: true` is not working and buggy. Can you try with false and check.. also I will track it in new issue here

[2021-03-09 06:28] alexanderniebuhr opened #58 "inline expression compiling"
inline expression do not work with compiling

[2021-03-09 06:41] lamualfa commented on #55
@alexanderniebuhr Still not working.

[2021-03-09 06:58] alexanderniebuhr commented on #55
it is an issue of rollup config somehow. the classes do get generated correctly in the preprocessor. however, do not ask me to fix it right now. Have to look into rollup in more detail, I never used it, if you have the time, please try with snowpack example and see if the inline expression work there

[2021-03-09 06:59] alexanderniebuhr opened #59 "validate rollup support and adapt docs for needed config"

[2021-03-09 09:01] jakobrosenberg commented on #43
I'm getting a bunch of warnings for Svelte's `export let` as well as this error:
[code]

This is the actual code on line 12-15:
[code]

[2021-03-09 10:06] alexanderniebuhr commented on #43
yes, working in that. Lead by missing semicolons, is a bug

[2021-03-09 10:07] noahsalvi commented on #52
I've finally found out why it works in one of my repos. 🥲

I tried every single approach, recreating the project, trying different dependency versions, with and without preloading, with and without styling, with and without components, different order of preprocessing and more.

And in the end I finally found out what made my repo work.
[code]

It is the commented out style rule above the other ru

[2021-03-09 10:09] noahsalvi commented on #52
btw Sapper throws `UNEXPECTED TOKEN ERROR` when using beta.4, that's why I used beta.3

[2021-03-09 11:08] jakobrosenberg commented on #43
That fixed it. Here's the next one 😎
[code]

The actual code
[code]

[2021-03-09 11:48] #50 closed

[2021-03-09 12:28] alexanderniebuhr commented on #43
this is a hard one. However, I think with latest beta https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.7 should work. You have a good project with many cases to test. So please submit any issue.

Parser v3 should be stable soon...

[2021-03-09 18:15] jakobrosenberg commented on #43
Seems this is finally working. Thanks for all your work @alexanderniebuhr! 👍

[2021-03-09 18:15] #43 closed

[2021-03-09 21:38] alexanderniebuhr commented on #43
If you find any issue please let me know.

[2021-03-10 12:39] alexanderniebuhr opened #61 "e.g. divide-x breaking with scopes"
@voorjaar can you add one simple example of code where this break

[2021-03-10 14:58] cgibsonmm opened #62 "Couldn't resolve parser "svelte""
After following the guide using webpack with sapper(on electron) I am getting this error message!

[code]

Any ideas would be great!

[2021-03-10 15:06] alexanderniebuhr commented on #62
do you have svelte installed as dependency?

[2021-03-10 19:18] cgibsonmm commented on #62
I have it in my dev dependencies yes!

[2021-03-10 19:23] alexanderniebuhr commented on #62
yeah, i know the bug, i do not know a fix for now. i need to use prettier-svelte-plugin, it should be bundled but electron might be using it differently. I will add an config flag tomorrow for that.

If that is not breaking your app, you could set `process.env.BROWSER = true`, this should be a workaround

[2021-03-10 19:30] cgibsonmm commented on #62
Thank you, I am was trying out [a create sapper electron build](https://github.com/soulehshaikh99/create-sapper-electron-app) I found to try it out. It does not seem to be maintained or supported really. Might just need to look somewhere else.

[2021-03-10 19:37] alexanderniebuhr commented on #62
well, the issue with the missing lib is definitely a bug. It will be fixed, v2 should not have that problem. v3 is still beta

[2021-03-10 21:31] cgibsonmm commented on #62
Okay, thanks for the info. here is the link to my project with the error if you wanted to have a look. I think you are already aware of the problem though so. [daily](https://github.com/cgibsonmm/daily/tree/taiwind)

[2021-03-10 22:51] OysterD3 commented on #62
I had this issue in rollup as well. `rollup-plugin-node-resolve` suppose to use `browser`
[code]

But `svelte-windicss-preprocess` still point to `main`, I had to do this
[code]

[2021-03-10 23:54] OysterD3 opened #63 "ParseError: Identifier `deep` is expected"
[code]

The comment in `<style>` is identified as deep selector.

[2021-03-11 06:40] alexanderniebuhr commented on #63
can you explain the bug a bit more? What does it mean? Never saw this. Could you provide source and converted output somehow?

[2021-03-11 06:41] alexanderniebuhr commented on #62
will be fixed in beta.9 later today

[2021-03-11 06:42] alexanderniebuhr commented on #46
closing since it should work if you experience any bugs. please open new issues

[2021-03-11 06:42] #46 closed

[2021-03-11 06:42] alexanderniebuhr commented on #40
will be fixed in beta.9 later today

[2021-03-11 06:42] alexanderniebuhr commented on #56
will be fixed in beta.9 later today

[2021-03-11 07:04] OysterD3 commented on #63
Here is my `preprocess` config:
[code]

The error I mentioned, it was thrown from [csstree](https://github.com/csstree/csstree), which svelte is depending on it.
If I remove windicssPreprocess from the array, it works fine.

[code]
___
Now I am having another error.
We have packaged our [components](https://github.com/wetix/responsive-ui) as open-source
[code]

Not sure whether this is related to

[2021-03-11 07:20] alexanderniebuhr commented on #63
yes, i might know the issue here. not sure if beta.9 (ETA later today) will fix it.
Please post any new info and issues here as well

[2021-03-11 07:20] alexanderniebuhr commented on #50
yeah thanks.  I will close up with an explanation behind our desicion in some days..

[2021-03-11 09:26] alexanderniebuhr commented on #64
https://github.com/windicss/svelte-windicss-preprocess/issues/35

[2021-03-11 14:26] cgibsonmm commented on #62
Can confirm that adding

[code]

Has fixed this

[2021-03-11 19:11] alexanderniebuhr commented on #40
@munxar https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.9

[2021-03-11 19:11] #40 closed

[2021-03-11 19:12] alexanderniebuhr commented on #56
@awmcclain https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.9

[2021-03-11 19:12] #56 closed

[2021-03-11 19:13] alexanderniebuhr commented on #64
actually one solution is https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.9

[2021-03-11 19:13] alexanderniebuhr commented on #63
https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.9

[2021-03-11 22:12] OysterD3 commented on #63
The issue for `ParseError: Identifier `deep` is expected` exists, beta.9 doesn't fix.

[2021-03-12 06:29] alexanderniebuhr commented on #63
@OysterD3 which component do you have it in?

[2021-03-12 06:46] OysterD3 commented on #63
### Issue 1

[@responsive-ui/loader](https://github.com/wetix/responsive-ui/tree/master/components/loader)
[code]

[@responsive-ui/input](https://github.com/wetix/responsive-ui/tree/master/components/input)
[code]

Not sure whether because of this [6b7fdad](https://github.com/windicss/svelte-windicss-preprocess/commit/6b7fdad) doesn't accept other variables name

___

### Issue 2

[code]

This is

[2021-03-12 07:00] alexanderniebuhr commented on #63
@OysterD3 i cannot reproduce issue 1. My Output on your component looks like following -> in your log, you are missing the last `}` after size
[code]

[2021-03-12 07:03] OysterD3 commented on #63
In `<style></style>` tags, thanks!

[2021-03-12 07:22] alexanderniebuhr opened #65 "add support for SvelteKit"
https://github.com/sveltejs/kit

[2021-03-12 08:17] noahsalvi commented on #52
This seems to be solved in bete.9 right 😁?

Out of interest, with which commit did you fix it or what was the problem?

[2021-03-12 08:18] alexanderniebuhr commented on #52
did i fix it?

[2021-03-12 08:19] noahsalvi commented on #52
Seems like it, I tried replicating my repro and it works but let me check it one more time

[2021-03-12 08:20] alexanderniebuhr commented on #63
@OysterD3 issue 2 & 3 are caused by single line comments in your style.
currently only `/* */` are supported by windicss.. upstream windicss will support `//` in the future..

[2021-03-12 08:23] noahsalvi commented on #52
Confirmed, it works ! 🎉

Maybe the problem was connected to the duplicates in the css?

[2021-03-12 08:24] alexanderniebuhr commented on #52
does it work in dev then? Duplicate css actually is just handled in prod mode now
you can look in the changes and see what is changed.. some preflight stuff... which seems to be the main issue with you sapper setup i guess

[2021-03-12 08:28] noahsalvi commented on #52
Yes it also works in dev but I never had a problem with it not working. It's only when I built the project with npm run build, that I got this.

Alright I'll check it out and thank you for fixing that, now I can finally use it with sapper 💪

[2021-03-12 08:31] alexanderniebuhr commented on #52
if I do not know the main cause, I might break it in the future. So if you can find out which fixes it, I can make sure to mark that change as necessary, thanks :)

[2021-03-12 09:27] noahsalvi commented on #52
Yes you're the new preflight configuration is the solution.

[code]

In the previous versions you had the last parameter, which is includePlugin as !DEV, resulting in includePlugins being `true` only for production.  Now in the beta.9 you have both for dev as for prod `false`.

[2021-03-12 09:58] alexanderniebuhr commented on #52
ok good. I will make sure to keep an eye on that :) closing this for now. If you find any other bug please open new issue

[2021-03-12 09:58] #52 closed

[2021-03-12 12:10] alexanderniebuhr commented on #63
you might also be able to get some help on the discord. Link somewhere on default windicss repo discussion

[2021-03-12 21:58] benmccann commented on #65
I see SvelteKit mentioned on the readme, but one thing to note - `snowpack.config.cjs` has been replaced with `vite.config.js`: https://github.com/sveltejs/kit/blob/master/packages/create-svelte/template/vite.config.js

[2021-03-12 22:14] SamLewis0602 commented on #65
Pumped for this, hoping the integration between windicss and svelte can be simplified with the switch to Vite for SvelteKit. Happy to be a guinea pig to help test any changes.

[2021-03-12 22:28] dominikg commented on #65
note there is also  https://github.com/windicss/vite-plugin-windicss/issues/54 for svelte + windicss + vite to work best, the two vite plugins need to cooperate

[2021-03-12 23:45] alexanderniebuhr commented on #65
if you guys have any suggestion for the readme. please submit pr

[2021-03-15 20:23] #61 closed

[2021-03-15 21:07] filipot opened #67 ":global() in styles makes everything :global()"
Just started using this, so dunno if this is intended or not. Btw love it!

This
`<style>
    :global(p){
    }
	.something{
		font-size: 1.4em;
	}
</style>
`

Becomes this:
`<style>
    :global(p){
    }
	:global(.something){
		font-size: 1.4em;
	}
</style>
`

if there is one or more :global() in the style the :global() gets added to all elements in the style tag

Using the default svelte configu

[2021-03-16 06:45] alexanderniebuhr commented on #67
should be fixed with https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.11

[2021-03-16 06:45] #67 closed

[2021-03-16 06:51] alexanderniebuhr commented on #53
this should be fixed for bundlers which do not parsing svelte files in parallel. snowpack is known for doing it, so it will genereate mutliple css files. while rollup seems to generate one main css

[2021-03-16 06:51] #53 closed

[2021-03-16 06:54] alexanderniebuhr commented on #35
we will include a safelist in v3, as well as support

[code]
through safelist. @munxar you can make a PR for your latest REPL, or a blog article to show of your solution using svelte actions. https://github.com/windicss/awesome-windicss

[2021-03-16 06:54] #35 closed

[2021-03-16 06:54] #30 closed

[2021-03-16 06:55] alexanderniebuhr commented on #59
will be refactored with v3 release

[2021-03-16 06:55] #59 closed

[2021-03-16 11:40] alexanderniebuhr commented on #64
should work with safelist and automatic class parsing in https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.12

[2021-03-16 11:40] #64 closed

[2021-03-16 14:37] OysterD3 commented on #63
New issue found

[code]

will get this error

[code]

[2021-03-16 15:58] alexanderniebuhr commented on #63
working on it

[2021-03-16 16:15] alexanderniebuhr commented on #63
@OysterD3 actually which version do you use?

[2021-03-16 16:28] alexanderniebuhr commented on #63
@OysterD3 https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.15

[2021-03-16 16:39] alexanderniebuhr commented on #57
should be in v3.. to test use [>beta.14](https://github.com/windicss/svelte-windicss-preprocess/releases)

[2021-03-16 16:39] #57 closed

[2021-03-16 21:41] OysterD3 commented on #63
Single line comment in `<script></script>` will comment the rest of the code
![image](https://user-images.githubusercontent.com/7383278/111383614-6c716100-86e3-11eb-9cda-15ff568c0b83.png)

[2021-03-16 22:17] alexanderniebuhr commented on #63
I will check that. I am afraid that single line comment are not supported yet. Just block comments.

[2021-03-17 08:21] alexanderniebuhr commented on #63
@OysterD3 you know for now.. beta.17 please

[2021-03-17 08:22] zackartz commented on #65
Last night when I tried this out it was working fine (with vite) but now I get this error.
[code]

when starting a new project.

Is this a problem with windicss or is this a sveltekit problem?

[2021-03-17 08:26] alexanderniebuhr commented on #65
need more information about the project to tell you.. can't see any useful information in the stack trace

[2021-03-17 08:39] OysterD3 commented on #63
@alexanderniebuhr I am having this now.
![image](https://user-images.githubusercontent.com/7383278/111438464-3b267e80-873f-11eb-9965-9251134c6d70.png)

Not sure what is the cause. Might related to [this](https://github.com/prettier/prettier/issues/2276)

[2021-03-17 08:44] alexanderniebuhr commented on #63
i have reverted the feature with [beta.18](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.18)
it has to much bugs right now.. so now it should work like before.. not throwing to many bugs.. please keep up your help with posting bugs

however multile line class attributes are now a known bug, like

[code]

[2021-03-18 06:40] #62 closed

[2021-03-18 08:49] OysterD3 commented on #63
![image](https://user-images.githubusercontent.com/7383278/111598111-d1bf7200-8809-11eb-9b2f-cb89a3f7692d.png)
Having this error now. Thanks for your effort!

[2021-03-18 10:20] alexanderniebuhr commented on #63
@OysterD3 can you show me the source of that function?

[2021-03-18 10:24] alexanderniebuhr commented on #63
it still seems like the single line comment does break it, but this bug was fixed.. so i wonder why it is still not working for you

[2021-03-18 10:51] OysterD3 commented on #63
Here you go
[code]

[2021-03-18 10:53] alexanderniebuhr commented on #63
@OysterD3 what version are you on?
it should be fixed already

[2021-03-18 10:54] OysterD3 commented on #63
I am working with `"svelte-windicss-preprocess": "^3.0.0-beta.18"`

[2021-03-18 10:57] alexanderniebuhr commented on #63
ok that is too old.. try [beta.20](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.20)

[2021-03-18 10:59] alexanderniebuhr commented on #63
ok that is too old.. try [beta.21](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.21)

[2021-03-18 11:00] alexanderniebuhr commented on #63
ok that is too old.. try [beta.22](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.22)

[2021-03-18 11:02] alexanderniebuhr commented on #63
ok that is too old.. try [beta.23](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.0.0-beta.23)

[2021-03-18 11:05] alexanderniebuhr commented on #63
if that is not working please provide output of following config

[code]

[2021-03-18 11:07] OysterD3 commented on #63
That works, another new issue. SCSS selector
[code]

[2021-03-18 11:07] OysterD3 commented on #63
It looks like because of comma, those without comma is fine

[2021-03-18 11:14] OysterD3 commented on #63
Same goes for scss variables

[code]

[2021-03-18 11:29] OysterD3 commented on #63
![image](https://user-images.githubusercontent.com/7383278/111619192-3a194e00-8820-11eb-84e9-f1692c82b845.png)
After removing the issue mentioned above, single-line comment in css. It works!

[2021-03-18 11:56] alexanderniebuhr commented on #63
@OysterD3 for parsing of css in style tag you might need to open issue in windicss core repo, we are using their css parser

[2021-03-18 12:33] alexanderniebuhr commented on #63
if you have new bugs please open new issue either in windicss core for style tags or here for other

[2021-03-18 12:33] #63 closed

[2021-03-18 15:24] danbulant opened #69 "Releases newer than 3.0.0-beta.1 won't compile or interpret in rollup"
My svelte options in rollup look like this:
[code]

When I use 3.0.0-beta.1 it works fine as it's supposed to, but after updating to 3.0.0-beta.18, 3.0.0 and 3.0.1 it no longer works (page doesn't include any styles for utility classes).

I didn't try it yet on a small example project but I already tried in two projects with different settings (one without any postcss plugins) and it didn't work i

[2021-03-18 15:29] alexanderniebuhr commented on #69
we deprecated config option with major release so you need to change

[code]

[2021-03-18 15:38] danbulant commented on #69
I removed the global properties. How does the `bundle` option work? Is it directly replacement for the `config` option?

On that note, you should update the `README.md` if you deprecated the config option as it's not written there.

I updated to latest public release (3.0.1), I'm still getting a lot of logs with the debug option and styles aren't working correctly.

[2021-03-18 17:13] alexanderniebuhr commented on #69
bundle is path to output css file which is written
does not replace config. config is windicss configuration file

[code]

the README.md is updated.. if you have any suggestion, a PR is welcome.
Update to 3.0.2... which styles do break??

[2021-03-19 06:58] danbulant commented on #69
What should I use for routify? During development, the generated code isn't written to files. I tried using the same value as for svelte css but that didn't work. The earlier versions worked fine without the bundle option.

that was just a misunderstanding between us (I thought "we deprecated config option with major release" meant that).

[2021-03-19 07:26] danbulant commented on #69
When I set it to the dist folder it fails because during development, that folder doesn't exist

[2021-03-19 07:41] alexanderniebuhr commented on #69
i do not know your setup so it is hard to help you. normally you would use a path somewhere in in src for development, and either let your bundler moves it to dist in prod or you have a dynamic path for that.
what does not work with current release? everything should work without bundle option..

i can give you more advice, but i need to either get some more information or be able to reproduce, an

[2021-03-19 07:45] alexanderniebuhr commented on #69
you also might want to come to https://chat.windicss.org for community support

[2021-03-19 08:14] danbulant commented on #69
Looks like the issue got fixed by updating to 3.0.2

[2021-03-19 08:14] #69 closed

[2021-03-21 11:18] bbtgnn opened #72 "Change "Configuration" in README.md"
Hi! This is the first time I give a suggestion on GitHub, so please forgive me anything incorrect I do :)

In README.md, under the "Configuration" section, the first line of code looks like this:
`// svelte.config.js`

I think it should be:
`// windi.config.js`

Cause if I create a `svelte.config.js` file I get an error for a missing `windi.config.js`.

Hope I've been useful, and, again, sorry for

[2021-03-21 11:23] #72 closed

[2021-03-21 11:54] alexanderniebuhr commented on #72
hey there,
thanks for your time and your comment. :)
Everything is fine, you are very polite and you should always keep up your pace to post stuff on GitHub.

You are totally right, the README.md is not very complete.
You need a `svelte.config.js` and a `windi.config.js` > the svelte config is to include the preprocessor, and the windi config is to change windi css config. :)

[2021-03-21 20:04] zackartz commented on #65
Using the latest version of the package and the problem just disappeared. All good now, thanks.

[2021-03-23 10:04] tomasherout opened #76 "Preflight CSS in production for Sapper Rollup"
Hello,

in my projects preflight CSS is missing when `NODE_ENV` is **not** set to _development_. In other cases (not defined, prod, production and so on) there is no preflight CSS in final page (underline blue hyperlinks, gray buttons etc.).

I have v3.1.1 of svelte-windicss-preprocess and issue is same for Svelte (after hot reload) and for Sapper (in build phase, dev is OK).

Otherwise, your proj

[2021-03-23 10:17] alexanderniebuhr commented on #76
which bundler do you use?

[2021-03-23 10:19] tomasherout commented on #76
Rollup (in both cases).

[2021-03-23 10:21] alexanderniebuhr commented on #76
for rollup in Svelte native try:

[code]

the preprocessor has to know if on DEV, so it can generate preflights for HMR

[2021-03-23 10:54] syffs opened #77 "classes are not inlined with custom-elements"
as in title, to reproduce, simply add the option to svelte plugin in your `rollup.config.js`
[code]
and create a customElement svelte component with some tailwind classes

[2021-03-23 10:57] #22 closed

[2021-03-23 10:57] #42 closed

[2021-03-23 10:57] #58 closed

[2021-03-23 11:33] tomasherout commented on #76
It works for _dev_ npm script (`rollup -c -w`) but _build_ npm script (result in build directory after `rollup -c`) is without preflight.

[2021-03-23 11:49] alexanderniebuhr commented on #76
I wonder if you have a different setup. I cannot reproduce it currently

[2021-03-23 15:41] tomasherout commented on #76
Try to clone https://github.com/tomasherout/windicss-no-preflight and then

`yarn install` (or `npm install`)
`npm run build`
`npm run start`

There is:

[code]

It should look like this:

<img width="160" alt="image" src="https://user-images.githubusercontent.com/43199492/112174078-69500680-8bf6-11eb-9618-8ab9ab7cb6ff.png">

but looks:

<img width="213" alt="image" src="https://user-images.github

[2021-03-23 17:50] alexanderniebuhr commented on #76
yeah got the bug. will be fixed in next release. might just use `mode: "dev"` hardcoded for now.. it should not have any major drawbacks

[2021-03-24 06:52] tomasherout commented on #76
Workaround works, many thanks.

[2021-03-24 07:01] alexanderniebuhr commented on #76
@tomasherout actually for now i ask you to just set `mode: "dev"` staticly as a workaround.
the bug is caused by sapper + rollup which to genereate the preflights without problems but somehow not at the right place for SSR+SPA mode.
Currently I do not see any possibility to change the logic, which will break non sapper projects.. but I can offer you to take a look at the new rollup plugin, might w

[2021-03-24 07:25] NoelJacob commented on #65
Do I use this or [windicss/vite-plugin](https://github.com/windicss/vite-plugin-windicss) for better speed?

[2021-03-24 07:33] alexanderniebuhr commented on #65
@NoelJacob schould not be any difference in speed. just difference in the position. I suggest you try vite-plugin first. if you have a special use case or feel pre-processing might be better, you would com back to this repo

[2021-03-25 04:09] www-chique opened #79 "Do not parse variant attribute on slot"
I noticed that the "active", "hover", etc. variant attributes are being parsed on slots as well.
Not sure if it is intended.
Slots are not real elements and shouldn't have any class or styling applied on them anyways.
So maybe we can skip parsing variant attributes if the tag is "slot"?

**Example:**
(Component.svelte)
`<slot active={someCondition}/>`

Here I am using the "active" as a property va

[2021-03-25 05:36] www-chique opened #80 "How to use global styles?"
First of all, many thanks for WindiCSS! It's absolutely amazing. Especially the variant grouping, speed, and developer experience is top notch! I'm glad I found out about WindiCSS. It's so much better in terms of everything.

However, I am facing this particular problem...
In my setup, in App.svelte, I have the following:

[code]
However, these styles are not being applied. In every other svelte c

[2021-03-25 05:43] alexanderniebuhr commented on #80
it should work as you marked it with following syntax, I am more than happy to help, please give some more insight about your setup, you could also join our [discord](chat.windicss.org) to ask others for help
[code]

[2021-03-25 06:13] www-chique commented on #80
After a little bit of digging, it looks like the issue is not related to WindiCSS, but most probably postcss.
Many thanks for your quick reply.

[2021-03-25 06:13] #80 closed

[2021-03-25 16:37] kavaro opened #82 "responsive grid-cols not compiled"
First of all, thanks for this wonderfull project.

I am currently stuck on the following issue:

[code]
is compiled into:

[code]

This was working with taildwindcss without extra config.

None responsive grid-cols compile correctly.

[2021-03-26 00:21] voorjaar commented on #82
cc @alexanderniebuhr

[2021-03-26 05:51] pikeas opened #83 "Breakpoints not working"
[code]

[code]

This works as expected at https://play.tailwindcss.com/, so it seems to be an issue with WindiCSS and/or the preprocessor.

[2021-03-26 05:52] alexanderniebuhr commented on #82
@kavaro I cannot reproduce it currently. It works for me. What is your setup? did you man with component `custom-element` ?

[2021-03-26 05:54] alexanderniebuhr commented on #83
cannot reproduce. it might the combination of svelte-kit and vite. please try [vite plugin](https://github.com/windicss/vite-plugin-windicss) instead of preprocessor

[2021-03-26 09:10] kavaro commented on #82
Actually I am having this issue with all responsive classnames when followed by {className}. When I put {className} before the responsive classname it is ok.

In the following component
- the class of the first div is compiled into: class="windi-h7g7v7 smbg-red-500  svelte-10b29kx" --> not correct
- the class of the second div is compiled into: class="windi-17aj0ut  svelte-10b29kx" --> correct

[c

[2021-03-26 10:12] alexanderniebuhr commented on #83
might be related to #82
can you also try [v3.1.3](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.1.3)

[2021-03-26 10:12] alexanderniebuhr commented on #82
this information was much better for me to reproduce :)
can you try for me [v3.1.3](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.1.3)

[2021-03-26 10:18] kavaro commented on #82
I can confirm that the issue has been fixed in v3.1.3.
Thanks for the very fast response and fix.

[2021-03-26 10:21] alexanderniebuhr commented on #82
if you have any new issues please let us know. And thanks for using WindiCss. Also if you need some help or want to chat checkout [discord](chat.windicss.org)

[2021-03-26 10:21] #82 closed

[2021-03-26 11:20] kavaro commented on #76
I am working on a sapper project and I think I am having the same issue even when using mode: "dev".

Example svelte component
[code]

In development mode, everything works fine.
However, NODE_ENV=production sapper export --legacy results in a link without preflight applied.

My setup is the identical to the one in issue: https://github.com/windicss/svelte-windicss-preprocess/issues/82

[2021-03-26 12:14] alexanderniebuhr commented on #76
NODE_ENV overrides mode.. so yeah. Also I inform you that we will drop support for sapper since it gets replaced by svelte-kit

[2021-03-26 12:27] kavaro commented on #76
Ok, will make the switch to svelte-kit, was waiting for it to reach beta, and move from there.

On 26 Mar 2021, at 12:15, Alexander Niebuhr ***@***.******@***.***>> wrote:

NODE_ENV overrides mode.. so yeah. Also I inform you that we will drop support for sapper since it gets replaced by svelte-kit

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<htt

[2021-03-26 13:56] alexanderniebuhr commented on #76
you  could always try this with sapper!

[2021-03-26 16:10] alexanderniebuhr commented on #79
@www-chique do you know for what variant attributes this would be actually needed?

[2021-03-26 16:11] alexanderniebuhr commented on #65
suggest to use [windicss/vite-plugin](https://github.com/windicss/vite-plugin-windicss)

[2021-03-26 16:11] #65 closed

[2021-03-26 16:12] alexanderniebuhr commented on #48
will be replaced soon with new playground

[2021-03-26 16:12] #48 closed

[2021-03-26 16:24] www-chique commented on #79
I think you have a list against which you try to apply those variants. And I believe it's just "hover", "focus" and "active",
Do you have any other variant that can be applied as an _"attribute"_ in **svelte-windicss-preprocess**?
The best fix would be to ignore the entire logic if the element is a `<slot>`.

Maybe I did not explain it good, so instead of knowing what variants to exclude or includ

[2021-03-26 18:24] alexanderniebuhr commented on #79
ok got you

[2021-03-27 08:33] alexanderniebuhr commented on #79
closing in favor of [v3.1.4](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.1.4)

[2021-03-27 08:33] #79 closed

[2021-03-27 23:02] pikeas commented on #83
I've updated all packages and cleared the `.svelte` folder, same issue.

On further testing, it's a bit quirky: it seems to only fail when placed in `$layout.svelte`:

- When placed only in `routes/$layout.svelte` (after `<slot>`), it works for S and L, fails for M and XL.
- When placed in both `routes/$layout.svelte` and `routes/index.svelte`, both divs work for all breakpoints.
- When placed onl

[2021-03-28 06:34] alexanderniebuhr commented on #83
for svelte-kit check out [vite-plugin-windicss](https://github.com/windicss/vite-plugin-windicss)

[2021-03-28 16:22] pikeas commented on #83
`import "virtual:windi.css"` doesn't seem to work in `$layout.svelte` - where should this go?

[2021-03-28 16:44] alexanderniebuhr commented on #83
https://github.com/alexanderniebuhr/sveltekit-vite-windicss/blob/684fb769c5240eae914cad710972eeca171eb537/src/routes/%24layout.svelte#L2

[2021-03-28 16:59] pikeas commented on #83
Thanks for the quick reply! That works and seems to have resolved the issue - `hidden/block` are now working at all breakpoints, even when only used in `$layout.svelte`.

However, this only seems to work for the default breakpoints:

[code]

`3xl:hidden` isn't being picked up as a class.

[2021-03-28 18:23] alexanderniebuhr commented on #83
you want to extend theme instead of overriding I guess

[code]

[2021-03-29 16:41] pikeas commented on #83
I cleaned up my config when sharing it here and accidentally changed the semantics. In my actual config, I'm using `extend` and finding that WindiCSS isn't picking it up per above.

[2021-03-30 15:07] alexanderniebuhr commented on #83
need to validate that with our setup later..

[2021-03-31 05:57] alexanderniebuhr commented on #83
@pikeas i actually cannot reproduce it. it works, for me. are you sure on the latest update?

[2021-03-31 06:47] alexanderniebuhr commented on #36
still working on this. currently breaks all animations

[2021-03-31 07:47] mrwokkel opened #93 "important config breaks @apply"
When in config:
[code]
windi classes are al scoped in `.wnd` but
`@apply` 'returns' nothing.

without the important config `@apply` works as expected.

[2021-03-31 09:23] Evertt commented on #65
For anyone checking this thread, these guys got it to work:

https://github.com/svelte-add/windicss

[2021-03-31 09:36] alexanderniebuhr commented on #65
@Evertt thanks for the info.. also the problem for us currently is not the support installing it, it is more getting it to work correctly with SSR+SPA.

We appreciate any solution which does works with preprocessor in SSR

[2021-03-31 09:39] Evertt commented on #65
@alexanderniebuhr I believe their solution works for SSR? At least I haven't noticed any issues? Would I need to do something specific to test whether windicss works with SSR specifically?

[2021-03-31 09:43] alexanderniebuhr commented on #65
Look at some issues in this repo, for most people it works fine. But we have some more edge cases with hybrid which has client and serve +

- Note to look for would be global utility and Preflights
- Compile vs non compile
- Scoped styles

But you can check both windicss integration and choose the one best for your project.. if preprocessor works it's great. We currently just do not focus on fixin

[2021-03-31 09:45] Evertt commented on #65
Ah okay, thanks for clarifying.

[2021-03-31 11:01] alexanderniebuhr commented on #93
Have to check later..

[2021-03-31 11:34] alexanderniebuhr commented on #93
Is this svelte or sveltekit?

[2021-03-31 11:39] mrwokkel commented on #93
The issue is with svelte-windicss-preprocess and sveltekit.

Was using the `npx svelte-add windicss` which is using svelte-windicss-preprocess instead of vite-plugin-windicss.

[2021-03-31 12:25] alexanderniebuhr commented on #93
👍 then we do suggest using vite-plugin-windicss for svelte-kit for now

[2021-03-31 12:30] mrwokkel commented on #93
Yes. I also added a [comment](https://github.com/svelte-add/windicss/issues/1#issuecomment-811005417) to the svelte-add repo, hopefully preventing more issues here.

[2021-03-31 14:06] alexanderniebuhr commented on #93
#65

[2021-03-31 14:06] #93 closed

[2021-03-31 14:07] alexanderniebuhr commented on #76
we will sapper support, since svelteKit is close to be released.. for svelteKit Support track readme or #65

[2021-03-31 14:07] #76 closed

[2021-03-31 14:13] alexanderniebuhr commented on #77
does this issue still exists.. i can't reproduce it

[2021-04-01 08:49] mishrasatyam opened #96 "Interferes with on:load of script inside svelte:head in sapper"
Framework : Sapper
When I am loading some cdn in svelte:head and using on:load function along with it :

eg:
[code]
I get following error:

[code]

[2021-04-01 09:38] alexanderniebuhr commented on #96
we did drop support for sapper. but what you can do is setting following javascript process.env
`process.env.BROWSER = true`

[2021-04-01 09:40] alexanderniebuhr commented on #96
also might be releaded to https://github.com/sveltejs/prettier-plugin-svelte/issues/196

[2021-04-01 14:43] #96 closed

[2021-04-01 14:59] alexanderniebuhr opened #97 "adapt windi css fullConfig interface"

[2021-04-03 06:45] happysalada opened #98 "code splitting produces invalid stylesheets"
First of all, thanks for the great repo!

Context.
- I am aware of the vite-windicss-plugin. However if you want to use mdsvex, you can't use the plugin. The svelte-preprocessor is the only way to go.

Decription of the issue.
having a class tag like
"text-base md:text-lg" can produce different css stylesheets that would lead this to have the `text-base` class instead of the `text-lg` class. Even

[2021-04-03 07:57] alexanderniebuhr commented on #98
does it work in production build without HMR?

[2021-04-03 07:59] alexanderniebuhr commented on #98
you do not have the svelte-windicss-preprocess installed at all.. wrong repo?

[2021-04-03 08:05] happysalada commented on #98
I changed the link to point to a specific commit https://github.com/happysalada/svelte.megzari.com/tree/a73c5e1fce1dbb00d09a6537c26beb72c16ee1ed
you might have seen the notification for the master branch.

Let me know if there is still a problem.

[2021-04-03 08:11] alexanderniebuhr commented on #98
yeah checked the repo. I am afraid that is nothing we can fix. In build mode it does work. The issue here is that in dev mode, some styles are HMR only.. I do not see why it does break.. if you can tell me what styles have changed? Preflights missing after HMR? I can tell you if we can fix it

[2021-04-03 08:19] alexanderniebuhr commented on #98
update to [v3.2.0](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.2.0)
add to your windicss config, should work in all modes.. note you will not get de-duplication, other than svelte native
[code]

[2021-04-03 08:19] #98 closed

[2021-04-03 08:19] alexanderniebuhr commented on #65
@Evertt update to [v3.2.0](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.2.0)
add to your windicss config, should work in all modes.. note you will not get de-duplication, other than svelte native
[code]

[2021-04-03 08:29] #83 closed

[2021-04-03 08:35] happysalada commented on #98
Thanks for the help and the superfast fix!

[2021-04-03 08:36] alexanderniebuhr commented on #98
i have noticed some bugs with your style, in firefox and production mode.. that is super strange.. currently no time to debug.. if you have any insight, and know what is causing it.. please open new issue with insights why they are happen

[2021-04-03 08:41] happysalada commented on #98
Yes, I've seen those too. I'll let you know if I findout more.

[2021-04-03 08:43] alexanderniebuhr commented on #98
on reload it seems to work.. so do not know.. might be an issue with the serve cli tool

[2021-04-04 11:19] sebastiangug opened #99 "Latest versions break multiline classes but works with `2.3.1`. Reproduction repo included."
I have cloned the example rollup project in this repo to test if defining classes over multiple lines works.

Repo link: https://github.com/sebastiangug/svelte-windicss-preprocess-bug-reproduction

just run `pnpm i` and then `pnpm dev` to start the server

I have found it does not work with the latest versions, but works with `2.3.1` so something must've broken.

Component added in Widget.svelte

[2021-04-04 11:56] alexanderniebuhr commented on #99
Super strange I have another person having this issue.. but I cannot reproduce it :(

[2021-04-04 12:26] sebastiangug commented on #99
Try to clone the repo above

[2021-04-04 14:14] multics commented on #36
guys, I've just submit a pull request. could you please review it?

[2021-04-04 14:21] multics opened #101 "3.2.1 does not process plugins in windi.config.js"
for example: to use scroll-snap plugin, add following is good enough.
[code]

Since 3.2.1, plugins are not loaded correctly.

FYI: 3.2.0 works perfectly.

[2021-04-04 15:28] alexanderniebuhr commented on #36
I review later today! Thanks for your work

[2021-04-04 16:36] #36 closed

[2021-04-04 17:39] alexanderniebuhr commented on #99
@sebastiangug check this PR. merge it and run `pnpm dev`.. copy and paste full output of terminal!!
https://github.com/sebastiangug/svelte-windicss-preprocess-bug-reproduction/pull/1

[2021-04-04 18:35] alexanderniebuhr commented on #101
fix is in works.. eta 1-2 day .. sorry for that.. just stick to 3.2.0 for now

[2021-04-05 11:13] Evertt commented on #65
@alexanderniebuhr I just looked at the issue about preflight missing in Sapper's production build and now I noticed that I have the same issue when using this plugin for svelte-kit I actually have the same issue. Are you already aware of that?

In which cases could I still get duplicate code then?

[2021-04-05 11:19] alexanderniebuhr commented on #65
do `mode: dev` as config for the preflight issue pls :)

Duplicate code would be preflights and classes used in multiple file (if not using compile mode). But that is the expected behavior for scoped styles.

[2021-04-05 11:23] Evertt commented on #65
Oh, having duplicated preflights does sound like potentially a lot of duplication. 😅
Okay I might switch over to the vite plugin then. I've noticed though, that when using the vite-plugin, I no longer can do things like:

[code]

Because then svelte(-kit) will then complain at the `:` character during the build process. Is that fixable?

[2021-04-05 11:46] alexanderniebuhr commented on #65
we are working on fixing preflights, not finished yet

[2021-04-05 12:01] dominikg commented on #65
i'm sorry it's taking so long for a new vite-plugin-svelte release. It should get a lot easier with that.
In the mean time, @bluwy has a workaround how to add the cooperating windicss preprocessor manually: https://github.com/bluwy/pick-palette/blob/a4c37dfe3d7cdd150d87b78842839e75e2830cf7/vite.config.ts#L11

[2021-04-05 13:42] alexanderniebuhr commented on #65
@dominikg can you give me some insight what will change with new release.. will it handle files in svelte logic. or still parallel, and calling new preprocessor for each file? please hit me up, either here or discord!

[2021-04-05 14:33] alexanderniebuhr commented on #101
check https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.3.0

[2021-04-05 14:33] alexanderniebuhr commented on #97
[v3.3.0](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.3.0)

[2021-04-05 14:33] #97 closed

[2021-04-05 15:23] dominikg commented on #65
code is here https://github.com/sveltejs/vite-plugin-svelte/pull/13 basically vite-plugin-windicss and vite-plugin-svelte cooperate with each other. vite-plugin-windicss exposes a svelte preprocessor that vite-plugin-svelte adds automatically. So adding both plugins should work for the user without the need to add another svelte preprocessor themselves.

This should also take care of duplicated gl

[2021-04-05 15:29] alexanderniebuhr commented on #65
@dominikg yeah found that out later today. this is great and good for all people. still going to suggest that. but there might people want to use this repo, since they want to process everything before svelte pipeline. We will see and adapt to the new release :)

[2021-04-05 15:31] dominikg commented on #65
yes, that solution obviously only works inside vite. so the separate svelte-windicss-preprocess is still needed for other cases

[2021-04-05 15:33] alexanderniebuhr commented on #65
even know people wanting to preprocess with vite.. still not thinking it is the correct way, but people have very specific projects

[2021-04-06 10:44] syffs commented on #77
sorry for the delay @alexanderniebuhr (easter weekend...)

It works with simple components, but tailwind classes from nested components aren't included

[2021-04-06 10:46] alexanderniebuhr commented on #77
@syffs can you provide simplest reproduction repo

[2021-04-06 10:57] syffs commented on #77
I was just working on that:
https://github.com/syffs/svelte-windicss-customel

[2021-04-06 11:05] alexanderniebuhr commented on #77
your problem are not `custom-element`. It is that your style tags are `postCSS`. You need to preprocess that first with som postCSS preprocessor

[2021-04-06 12:02] syffs commented on #77
Thanks for the quick reply !

So is it luck that it does work without custom-element or nested components ?

Probably I misunderstood windicss features, I though it was prepocessing postcss: https://windicss.org/guide/migration.html

Or did I miss something ?

[2021-04-06 13:03] alexanderniebuhr commented on #77
nvrmind you do have sveltePreprocessor in your processor list.. so it should work fine.

[2021-04-06 13:19] alexanderniebuhr commented on #77
@syffs what is your issue. I see the classes in css. can you point me to the class missing in your repo?

[2021-04-06 13:39] syffs commented on #77
I pushed some changes to repro repo to show what's the nested component (button) is supposed to look like.

Basically, it looks like none of the classes of the nested component are available

[2021-04-06 14:01] alexanderniebuhr commented on #77
the `svelte-windicss-preprocess` returns following code (which looks good to me.. what do you say?)

if that is correct, the issue is after the preprocess step, maybe where the css is bundled and loaded not correctly in browser.. i try to find, maybe you have an idea?

[code]

[2021-04-06 14:04] alexanderniebuhr commented on #77
setting following in testbutton group, is somehow working.. do not ask me why.. not that good with custom-element

[code]

[code]

[2021-04-06 20:28] syffs commented on #77
Thanks again for your assistance !

I've done some digging.. It seems to be related to svelte limitations: sveltejs/svelte#4274 sveltejs/svelte#3594 sveltejs/svelte#4228

[2021-04-07 06:14] alexanderniebuhr commented on #77
sorry for that. I had the same issue with svelte and storybook :/

[2021-04-07 12:06] alexanderniebuhr opened #104 "adapt preprocessor init"
allow pre-processor init to be async

notes:
It doesn't work because that signature is not supported. markup etc can be async, but the function creating that object cannot, if you want to pass it to the preprocess property of the rollup plugin or svelte.config.js
But since markup etc can be async you can easily work around that by waiting on common initialisation logic before doing the actual work

[2021-04-08 02:09] mekeor opened #105 "no global styles in layout in svelte-kit"
# situation

set up a svelte-kit project and run `npx svelte-add windicss` (which adds `svelte-windicss-preprocess` as dev-dependency, so that's why i'm here). create a `$layout.svelte` with this content:

[code]

and create a page-component with this content:

[code]

# expected behaviour

expect all lines to be colored indigo.

# resulting behaviour

only the first line is colored indigo.

# min

[2021-04-08 04:53] alexanderniebuhr commented on #105
not very familiar with svelte-kit and it's $layout files.. but you can try

[code]

[2021-04-08 16:19] mekeor commented on #105
oh, i had thought that i already tested using `global` – but seems like i didn't. thank you for pointing that out. it works!

[2021-04-08 18:21] mekeor commented on #105
actually, with the `global` attribute, only the two first lines are colored indigo. somehow the third line stays black because of some `a { color: inherit; }` rule which i found within the developer tools.

[2021-04-08 18:53] mekeor commented on #105
in fact, it works when i use `body a` as a css-selector (in order to style the third line) instead of just `a`.

[2021-04-08 21:24] alexanderniebuhr commented on #105
i will check this tomorrow.. if you want try our vite plugin.  It is our best supported svelte-kit integration.

[2021-04-09 21:34] IRediTOTO commented on #99
i have this error too. :\ Don't know why :)
This is result when use 2.3.1
![image](https://user-images.githubusercontent.com/15695252/114242798-af0e1c80-99b5-11eb-9a5f-b8cbc37079b9.png)
And this is newest version. When i `run dev` everything fine, but on run build look like tailwind base wasnt loaded. I use svelte kit.
![image](https://user-images.githubusercontent.com/15695252/114242822-bb927500-

[2021-04-10 05:01] alexanderniebuhr commented on #99
@IRediTOTO use kit: true

[2021-04-10 08:19] IRediTOTO commented on #99
You mean this config? It not work
[code]

[2021-04-10 08:21] alexanderniebuhr commented on #99
Strange. Since you are using sapper we do not support this directly. If you give your repo I can take a quick look

[2021-04-10 08:44] IRediTOTO commented on #99
Here is it: https://github.com/IRediTOTO/learn-svelte-kit
I will work fine with version 2.3.1

[2021-04-10 08:57] alexanderniebuhr commented on #99
@IRediTOTO i know the issue, and will make a fix for you

[2021-04-10 09:02] alexanderniebuhr commented on #99
you guys can update to [v3.3.2](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v3.3.2) and set your options for kit as following (you can add other options if you need, like devTools or config)

[code]

[2021-04-10 12:27] IRediTOTO commented on #99
thank you look like it work.

[2021-04-10 12:30] alexanderniebuhr commented on #99
@IRediTOTO still if you want more mature implementation with svelte-kit, we do have https://github.com/windicss/vite-plugin-windicss

[2021-04-10 16:59] IRediTOTO commented on #99
i knew it and waiting for full featured like this pack :D Thank you

[2021-04-10 22:49] sebastiangug commented on #99
This can be closed as far as I'm concerned, I've started using vite as I wanted to use that already rather than rollup for various reasons, so now I'm mostly working with the vite-plugin that alexander has tagged above.

Good luck & thank you!

[2021-04-11 06:27] #99 closed

[2021-04-11 07:01] alexanderniebuhr commented on #105
not sure what is wrong with your repo.. never seen this before. i suggest using our [vite plugin ](https://github.com/windicss/vite-plugin-windicss)

[2021-04-11 07:02] #104 closed

[2021-04-11 07:02] alexanderniebuhr commented on #101
@multics does it work with the latest update?

[2021-04-11 07:02] #77 closed

[2021-04-12 15:56] TedMeftah opened #113 "windi helper does not work with SvelteKit"
I was looking for a way to use dynamic classes with Windi, I found an example using the `windi` helper like this:
[code]
when I run `yarn build` this works just fine (using the `@sveltejs/adapter-static`) but while in `yarn dev` the screen flashes with the correct result for a second then it shows this error:

[code]
I did get the same issue while using`vite-plugin-windicss`, so I'm not sure if th

[2021-04-12 15:58] alexanderniebuhr commented on #113
no it has to do with vite dev mode and the package of the windi helper.

/cc @voorjaar @antfu

[2021-04-12 18:37] TedMeftah opened #114 "Debug messages still show even when silent is set to true"
I noticed in the current version these debug messages still show up even when the `silent` flag is set to true:

[code]
I don't think this is intended, and I think the issue is due to a missing check on these two line:

https://github.com/windicss/svelte-windicss-preprocess/blob/e4771a93f1a946b69fd24c25328d283db3084964/src/index.ts#L364

https://github.com/windicss/svelte-windicss-preprocess/blob/

[2021-04-12 18:42] alexanderniebuhr commented on #114
yes, check is missing, feel free to make a PR

[2021-04-12 19:32] #114 closed

[2021-04-13 10:57] TedMeftah opened #117 "Using dynamic classes"
After finding out that using `windi` from `windicss/helpers` did not work in dev mode (windicss/windicss#244). I noticed that in the code of this package there is a check for the for the `windi` template:
https://github.com/windicss/svelte-windicss-preprocess/blob/2c7003c71b18c69d88b9ff14ff1f1a13678b9220/src/index.ts#L133-L136
so we don't actually need to import the `windi` helper we can just fake

[2021-04-13 11:08] alexanderniebuhr commented on #117
TLDR: at all I think you are using `windi``` to often

for dynamic classes on variable, the svelte way would be
[code]
---

you need to import it, since `windi``` is used to interpret classes in runtime, the code in the pre-processor just makes sure it does add that classes to safelist

---

that should work, maybe use `' or "`

---

just use
[code]

---

we would need `debug + verbosity 3, 4 & 5`

[2021-04-13 11:58] TedMeftah commented on #117
Thank you @alexanderniebuhr, I agree that's too much use for `windi` but they were just examples to test all the possible cases.

I could not import `windi` since it has an issue while running `yarn dev` (windicss/windicss#244). and since I want to avoid adding code to the runtime I will try to avoid it.

I did more dinging in the code and I noticed that this does not work:

[code]
because it seem

[2021-04-13 12:31] alexanderniebuhr commented on #117
I don't think this would be good way of writing this, so not sure if we make it work. I think to use windi`` i would suggest doing
[code]

---

yeah i will fix this right now.. seems that there are some bugs

[2021-04-13 13:12] alexanderniebuhr commented on #117
@TedMeftah do not try to understand the codebase now.. check branch `next`
If you would like to help, I think the best currently (as you did above, is give me a list of test cases)

[2021-04-13 14:08] mekeor commented on #105
why do you tag my issue as "invalid", @alexanderniebuhr? and why did you decide that you "won't fix" the issue? why not just let the issue open until someone comes up with an idea?

[2021-04-13 14:23] alexanderniebuhr commented on #105
because your repo is broken, not the preprocessor..
I took the time and made you a repo which shows it working .. I'll reopen this but won't not remove the labels.
You can compare the two repos and see where the difference is. If you can find a way to reproduce it in my repo, we can handle the bug. but for now it is not reproducible for me

https://github.com/alexanderniebuhr/kit-windicss-debug

[2021-04-13 18:46] alexanderniebuhr commented on #117
@TedMeftah you said, you would like to contribute. if you have time, feel free to open PR onto the `next` branch, where you add `.svelte` files with test cases in this directory. filename should be descriptive and it should be one test case per file only.
https://github.com/windicss/svelte-windicss-preprocess/tree/next/tests/assets/input

[2021-04-13 19:53] alexanderniebuhr opened #118 "[TRACKING] v4 - Magician"

[2021-04-15 05:18] anikraj1994 opened #120 "Option to disable preflight."
I'm developing a single component that will be part of a larger web app. How can I disable the preflight CSS normalisations and just generate the classes which I actually use? Thank you.

[2021-04-15 06:30] alexanderniebuhr commented on #120
currently that is not supported. I add this as an enhancement to the roadmap

[2021-04-15 07:09] anikraj1994 commented on #120
Thank you.

[2021-04-25 14:55] fhucho opened #128 "Production build seems to be missing CSS base. reset styles"
I'm using Sapper, Rollup and svelte-windicss-preprocess 3.3.1.

In the production build, there's a problem that the Tailwind base / reset styles are not applied. Visited links are purple, tables have the default double line borders, etc. Development build is fine. What could be the problem? Here's my rollup config:

[code]

[2021-04-26 06:15] alexanderniebuhr commented on #128
problem is your NODE_ENV .. you can try to play with `mode: "dev"` on the sveltePreprocessor settings in rollup

[2021-04-26 06:15] alexanderniebuhr commented on #128
do not wonder, marking this as wontfix, since sapper is replaced by svelteKit soon

[2021-05-03 16:46] moisesbites opened #134 "$$props.class is not working on browser"
I'm using some components in svelte.kit, but when a need to pass "class" from Page to Component by "$$props.class", in the browser I can't see the visual effect.

Example:
[code]

do this:
![image](https://user-images.githubusercontent.com/8934577/116905840-845a6100-ac0d-11eb-867f-0d36eef754d7.png)

But the result in the page is not the rounded red box. The box is in the center like ".center-box"

[2021-05-03 18:22] moisesbites commented on #134
Sorry.

I had installed from windicss with svelte-adders. But, after open this issue, I found a documentation in https://www.liip.ch/en/blog/sveltekit-and-tailwind-windi-css. So, I made a clean initialization of svelte.kit:

[code]

And I change the configurations as defined in the page below. The only exception is that I used windi.config.cjs and not tailwind.config.cjs.

[2021-05-03 18:23] #134 closed

[2021-05-12 15:11] alexanderniebuhr commented on #120
will go live the next days with v4. 3151e05b4aa48b65b98d8bd7fe8c01481aad1094
docs will be at [integration guide](https://windicss.org/integrations/svelte.html)

[2021-05-12 15:11] #120 closed

[2021-05-13 08:58] alexanderniebuhr commented on #128
maybe try v4.. docs coming soon.. there is a way to mark the file where preflights should go

[2021-05-13 08:58] #128 closed

[2021-05-13 08:58] alexanderniebuhr commented on #117
still tracking by [v4.1](https://github.com/windicss/svelte-windicss-preprocess/issues/118)

[2021-05-13 08:59] alexanderniebuhr commented on #105
might be fixed with new breaking syntax of v4... docs later today

[2021-05-13 08:59] #105 closed

[2021-05-13 08:59] #101 closed

[2021-05-14 23:46] moisesbites opened #140 "colors in windi.config.js are not loaded with sveltekit"
I had installed windicss following https://windicss.org/integrations/svelte.html#sveltekit configuration page.

[code]

[code]

![image](https://user-images.githubusercontent.com/8934577/118340452-b7440500-b4e9-11eb-9c05-e2de8025f0fe.png)

But the colors are not working:
![image](https://user-images.githubusercontent.com/8934577/118340413-967baf80-b4e9-11eb-9c3c-c1df0ceb30c9.png)

[2021-05-15 06:07] alexanderniebuhr commented on #140
yes you did not set any configuration to the windi function in svelte.config.js, set configPath in the Options of `windi` [see reference](https://windicss.org/integrations/svelte.html#options)

[code]

[2021-05-15 06:09] alexanderniebuhr commented on #140
for colors syntax check in VS Code follow the [issue](https://github.com/windicss/windicss-intellisense/issues/124)

[2021-05-15 14:29] moisesbites commented on #140
Thank you very much. The colors are working now in the windi.config.js.

Maybe, because this information:
![image](https://user-images.githubusercontent.com/8934577/118364816-0a5c9d00-b568-11eb-93fe-1eddd90f4edd.png)

...would be good to put the configuration path of `windi.config.js` in the orientation ate the page https://windicss.org/integrations/svelte.html#sveltekit.

[2021-05-16 14:20] moisesbites opened #141 ""hover" is not working in <style> in __layout.svelte"
Using `hover` in `__layout.svelte`, it is not working:
[code]

But, if I use in `index.svelte`, `hover` works fine:
[code]

[2021-05-17 08:37] alexanderniebuhr commented on #141
@moisesbites good catch. This is an serious bug, we need to fix.

Actually it has nothing todo with the file the style is placed.
It is caused by the `:global()` wrapper, you can try this by adding an `:global()` wrapper in `index.svelte` style, and it won't work.

For the time being and to provide an solution for you. I suggest one of the following workaround for now. In parallel I am working on

[2021-05-17 12:21] moisesbites commented on #141
@alexanderniebuhr Thank you for your help, neither of the workarounds is currently working.

At the moment, the main project is still using vite and vite-plugin-windicss and is working. I will wait for the your bug fix to migrate the project to the latest version of sveltekit with the svelte-windicss-preprocess.

[2021-05-17 13:24] alexanderniebuhr commented on #141
@moisesbites the workarounds should work, at least Workaround 1. Not sure why they do not work.

[2021-05-17 15:08] #141 closed

[2021-05-17 15:09] alexanderniebuhr commented on #141
@moisesbites please try [v4.0.3](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v4.0.3) .. reopen with more information, if still breaking!

[2021-05-17 17:01] moisesbites commented on #141
@alexanderniebuhr  Thank you very much!

It's working now in `__layout.svelte`.
[code]

[code]

[2021-05-23 06:51] alexanderniebuhr commented on #118
7482f9a1f58dc003c1484eb80cc07e5d49d5b476

[2021-05-23 06:56] alexanderniebuhr commented on #118
1bd87f26a18e75467b6b7690498ca92174c53171

[2021-05-23 07:09] alexanderniebuhr commented on #117
should be fixed with 7482f9a1f58dc003c1484eb80cc07e5d49d5b476

[2021-05-23 07:09] #117 closed

[2021-05-23 07:30] alexanderniebuhr opened #150 "blacklist for attributify"
https://github.com/windicss/svelte-windicss-preprocess/blob/f74d54db3215a8f06546445b76c868c80dfe9d65/src/utils.ts#L134-L134

[2021-05-26 06:51] alexanderniebuhr opened #156 "move devTools into script preprocessor"
moving the devTools part into the script block, makes it easy for the user to use attributes and include dev:tools at the correct place. easier to understand where it is injected

[2021-05-28 13:00] moisesbites opened #158 "with sveltekit after 'npm run build' in preview mode some css classses aren't working"
In a project, after run `npm run build` and `npm run preview` some css classes are not working as they work by `npm run dev`.

Below, some examples that are working on `run dev` but aren't working on `run preview`
[code]

[code]

[code]

[code]

I'm using a server nodejs 16.2 and these dependencies:
[code]

[2021-05-28 13:13] alexanderniebuhr commented on #158
please share your `windi.config`. I need to test it locally

[2021-05-28 13:21] moisesbites commented on #158
[code]

[2021-05-28 14:03] alexanderniebuhr commented on #158
please try newest update [v4.0.7](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v4.0.7)

[2021-05-28 14:11] moisesbites commented on #158
Perfect!!!!! @alexanderniebuhr thank you very much!!!

Now, everything is working.

[2021-05-28 14:11] alexanderniebuhr commented on #158
great. Keep posting issues in the future :)

[2021-05-28 14:11] #158 closed

[2021-06-04 09:01] #156 closed

[2021-06-16 22:09] moisesbites opened #171 ""grid" "grid-cols-" "gap-" is not working in svelte preview after build"
Hello,

I'm testing a system in a remote server, and when I use in `npm run build`and `npm run preview`, the taildwindcss/windicss classes are not working: `grid` `grid-cols-?` `col-span-?` `gap-?`. it think that windi preprocessor of svelte is not compiling those classes.

Please, see image below:

![image](https://user-images.githubusercontent.com/8934577/122300749-bbd75100-cecd-11eb-9175-d80688

[2021-06-17 06:26] alexanderniebuhr commented on #171
First things first. We need to confirm that the classes are not compiled. Please look in your Browsers Stylesheet and see if the classes are not compiled.

![image](https://user-images.githubusercontent.com/45965090/122342925-7191b680-cf45-11eb-8d88-c3c93177de3b.png)

If the classes are not compiled in that Style Editor, please share an svelte file with that classes used. However if the styles are

[2021-06-17 13:04] moisesbites commented on #171
Ok. Thank you @alexanderniebuhr .

I check the style editor, I made some changes in the code, I tested again and I think I found the problem: the classes in the inline class field in html tag are not compiling, but the classes in style tag are compiling.

For example:
[code]

I hope to be helping to resolve this.

[2021-06-17 13:36] alexanderniebuhr commented on #171
@moisesbites I just tested it with base setup and it works even inline. So I am thinking that this is some svelteKit specific issue with `npm run build`

[2021-06-17 13:40] moisesbites commented on #171
OK. Thanks. Knowing that it works with style tags, I will change the code. What is your suggestion for this case? Maybe I should open an Issue in the sveltekit project related to this one?

[2021-06-17 14:10] alexanderniebuhr commented on #171
[v4.0.9](https://github.com/windicss/svelte-windicss-preprocess/releases/tag/v4.0.9) should fix this. No need to change your code to use style tags.

notes: svelteKit loads files with vite in parallel and we did not had an logic to safe styles for multiple files in memory. So in the end it has always used the styles of the last file (which is some svelteKit error page, which does not have any wind

[2021-06-17 14:10] #171 closed

[2021-06-17 14:14] alexanderniebuhr commented on #171
673ec6edd346d349ad12eec44ed3d4f6c38f3908

[2021-06-22 14:44] alexanderniebuhr opened #178 "Attributify does not support inline expression"
[code]

[2021-06-22 15:01] #178 closed

[2021-06-22 21:58] Yofou opened #179 "Attributify still play's little funny with inline expression"
# The problem
It's **appears** that atleast for `transform` (could possibly be more) has higher specificity and overides

# How to reproduce
[code]

you can see that both rotate-180 & rotate-90 css varibles will be overiden with the default css varibles from `~`

[2021-06-22 22:00] Yofou commented on #179
ps it can be overiden if you apply the `!` prefix (although should only be temp fix for now!)

[2021-06-23 08:46] alexanderniebuhr commented on #179
thanks for submitting. :) First things first, we need to find out if that is an issue with transform or with the pre-processor.
The current CSS generated by the pre-processor is (the following). @Yofou can you confirm that this is also the css you get in your browser?

[code]

[2021-06-23 21:01] Yofou commented on #179
[code]

this is what get's generated, it looks like it creates the [transform~="~"] twice in they browser? it looks like my transform from another component (that is also global scoped) is interfering with each other?, I have set them to global scope because my dark mode breaks if I don't, am I doing something wrong or is this still a bug?

[2021-06-23 21:21] alexanderniebuhr commented on #179
not sure yet. I am trying to find out if that is a bug or not.
The duplicate transform can either be caused by two global ones or by server and client side stuff in svelte-kit.

Can you provide a repo with that issue, so I can look into it, tomorrow :)

[2021-07-11 13:49] LumaKernel opened #204 "Underline class family look not working."
### Describe the bug

Underline classes such as `underline-dotted`, `underline-double` simply look not working.

On https://windicss.github.io/svelte-windicss-preprocess/
![image](https://user-images.githubusercontent.com/29811106/125197537-22674900-e299-11eb-8996-4f44d70f4600.png)

https://windicss.org/play.html?html=DwEwlgbgfAUABHUk4GMA2BDAzlgvAIgFcA7EAUwCc0xiz9YEBIACTLTQHt5EB6cabsABGFODwZxB-VJh

[2021-07-11 14:12] alexanderniebuhr commented on #204
https://windicss.github.io/svelte-windicss-preprocess/ uses Windicss v2, which did not include underline classes.
It won't be updated.

The new playground is https://windicss.org/play.html
I have changed the URL in the description. Do you have this issue on any project?

[2021-07-11 14:35] LumaKernel commented on #204
Ah, sorry. I was perfectly misunderstanding. I'm using `vite-plugin-windicss`.
Thank you for your kind support. And updating `windicss` and `vite-plugin-windicss` resolved my issue.

[2021-07-11 14:35] #204 closed

[2021-07-17 19:23] JakubBlaha opened #208 ":global() rules not resolved correctly in Svelte"
When I use the svelte Windi preprocessor, styles like

[code]

cause all elements in the whole app to get the specified CSS attributes. The component class (e.g. `svelte-abc12def3`) gets correctly removed, but the part `label >` is removed even if it shouldn't.

Other thing is that I think that the `:global` feature should affect only child components, or am I wrong?

[2021-08-09 11:53] alexanderniebuhr commented on #208
@JakubBlaha currently testing this on 4.1.0-beta.2; hope that I can release it soon.

What do you mean with that question?

[2021-09-12 22:09] ptrxyz opened #248 "4.1.0-beta2: selectors produce `unused CSS selector` error when commented out."
### Describe the bug

In version 4.1.0-beta2, CSS selectors that are commented out produce a "unused CSS selector" error.
(this was not the case in 4.1.0-beta1)
Example:

[code]
Error message:
`12:03:41 AM [vite-plugin-svelte] /tmp/svelte-template/demo/src/something.svelte:122:0 Unused CSS selector ".bad"`

### System Info

[code]
[code]

[2021-09-12 22:21] ptrxyz opened #249 "4.1.0-beta2: dynamically added classes get lost"
### Describe the bug

consider the following example code:

[code]

This will always produce red text, even though Svelte does a correct job of appending "bar" to the HTML element's class list. However the class is not present in CSS.

The bug is only present in `4.1.0-beta2`, not in `4.1.0-beta1`.

### System Info

[code]

### Used Package Manager

pnpm

[2021-09-12 22:24] alexanderniebuhr commented on #248
Thanks for submitting the issue. Will work on a fix asap. Since there are not many changes in beta2 you can stick to beta1 for now.

[2021-09-12 22:24] alexanderniebuhr commented on #249
Thanks for submitting the issue. Will work on a fix asap. Since there are not many changes in beta2 you can stick to beta1 for now.

[2021-09-15 18:23] alexanderniebuhr commented on #249
@ptrxyz just tried this in a clean repo and can't reproduce it. Can you provide an repo?

[2021-09-15 18:26] alexanderniebuhr commented on #248
@ptrxyz that is the expected behavior. Not sure why it gave you different behavior in beta.1! If you want to silent the warning and have global styles you need to use
[code]

[2021-09-15 18:26] #248 closed

[2021-09-26 09:43] bhvngt opened #259 "Duplicate `windi:inject` attribute error while working with svelte kit component library"
### Describe the bug

I am currently using this plugin in a module where I am importing another svelte kit component library built using `svelte-kit package` command. I get following error when building my app.

[code]

It works if I patch this package with `tmpContent = tmpContent.replace("windi:inject","");` before this [line](https://github.com/windicss/svelte-windicss-preprocess/blob/64a03e05b

[2021-09-28 06:57] bhvngt commented on #259
Thanks @alexanderniebuhr for your approval. Do you plan to release this in the near future?

[2021-09-28 10:13] alexanderniebuhr commented on #259
It actually lands in `4.1.0-beta.3`
`4.1.0` seems to be pretty stable so far.. not quite ready to release it to stable yet.

[2021-09-28 10:14] bhvngt commented on #259
That too will work for me. Will switch over to 4.1.0-beta.*. Thanks a ton for the merge.

[2021-10-19 10:24] alexanderniebuhr commented on #249
/stale

[2021-10-19 10:24] #249 closed

[2021-10-22 20:19] moisesbites opened #282 "using svelte.kit in `<style></style>` section, on selectors of HTML tags, is not working"
### Describe the bug

After upgrade to 4.1.0 version, the CSS, using svelte.kit in `<style></style>` section, on selectors of HTML tags, *windi* is not working.

for example:
[code]

For classes selectors, the CSS is ok.
[code]

### System Info

[code]
[code]

[2021-10-26 08:43] #282 closed, assigned to alexanderniebuhr

[2021-10-30 12:48] bhvngt opened #287 "HMR issue while reloading windi.config.ts changes"
### Describe the bug

My project uses `svelte+vite+cypress` to develop component library. I would like to hot reload changes done in `windi.config.js` during development. When I make extend color with following code inside `windi.config.js`, the changes are not reloaded.

[code]

Based on this [issue](https://github.com/windicss/vite-plugin-windicss/issues/139), if I change the extension to `ts`,

[2021-10-30 17:45] alexanderniebuhr commented on #287
@bhvngt thanks for the idea of supporting live reload for config files. This feature is currently not implemented, I will address this as soon as possible

[2021-10-31 08:27] #140 closed

[2021-10-31 16:26] alexanderniebuhr opened #288 "[EXPERIMENTAL] pure css icons"
### Clear and concise description of the problem

- [ ] custom icons
- [ ] autoInstall iconify

### Suggested solution

unplugin-icons autInstall
iconify JSON custom

### Additional context

_No response_

### Validations

- [X] Read the [docs](https://windicss.org).
- [X] Check that there isn't already an issue that request the same feature to avoid creating a duplicate.

[2021-10-31 23:01] alexanderniebuhr commented on #287
Just added first iteration [(v4.1.5-beta.1)](https://www.npmjs.com/package/svelte-windicss-preprocess/v/4.1.5-beta.1) with experimental support. Have not released it on stable yet.  If you would like to test, and see if it works with vite - I am not testing with vite currently -  please use:

[code]

[2021-11-01 05:26] bhvngt commented on #287
Sure @alexanderniebuhr. I will do the testing from my end with vite.

[2021-11-01 07:46] bhvngt commented on #287
I have setup a [sandbox](https://codesandbox.io/s/boring-greider-ny1kv?file=/index.html) to test out your build. I did my testing with following results

1. Setup custom colors  in `windi.config.ts`
![image](https://user-images.githubusercontent.com/79074469/139638246-b1850936-f5dd-4ccb-8327-ff059b791faf.png)
2. Using this colors in `app.svelte'
![image](https://user-images.githubusercontent.com/7

[2021-11-01 08:34] alexanderniebuhr commented on #287
Hm that is strange and I don't think it is an issue with the reload of the config, since it already picked up the config.

I will check your repo later, I am afraid it is caused by some lifecycle issue of svelte and vite.

I'll update as soon as I know the reason

[2021-11-01 09:05] bhvngt commented on #287
You are right. I had to put`WindiCss` before `svelte` in the `plugin` section of `vite.config.js`. This answer in `[stackoverflow](https://stackoverflow.com/questions/69601626/windi-css-hmr-not-working-for-svelte-vite-app)` helped me fix this issue.

With this change, it all seems to be working out fine. Thanks a ton for your super quick patch.

[2021-11-01 09:52] bhvngt commented on #287
I tried the same fix in my current setup with `svelte-windicss-preprocess@4.1.1` and that seems to have resolved the reloading issue with `typescript` based config file.

I still see `Error: typescript currently not supported` error when I test it with your `4.1.5-beta.1` build. Not sure if I should ignore that!!

[2021-11-01 09:59] alexanderniebuhr commented on #287
Typescript config files are currently not really supported (had to disable support for them some versions ago). I would suggest `.mjs` for best support. Adding `.ts` support later, but if it works, you can ignore the message.

[2021-11-01 10:09] alexanderniebuhr commented on #287
With the beta release you should be able to use `.js` and if the file does trigger vite, just change a svelte file after changing the config and it should load the new config automatically :)

[2021-11-01 10:23] bhvngt commented on #287
Thats true. Works the way you have explained. Thanks a ton...

[2021-11-01 12:54] #287 closed

[2021-11-06 17:54] Grymse opened #306 "Rollup unhappy with WindiCSS config"
### Describe the bug

Following the tutorial about installing the WindiCSS preprocessor for regular Svelte on your website gives me this error during compilation. This applies to all machines I've tried it on. On both new and old projects. It seems that either some Rollup update or may update here has broken the default installation. I have tried reaching out on Discord, but I figured it would be

[2021-11-06 20:15] alexanderniebuhr commented on #306
please share a minimal repro

[2021-11-06 21:00] Grymse commented on #306
Hi. Thanks for the reply!

I wouldnt have to share a repo. This error comes up independent of project.
Running the following commands on any pc gives me the error

npx degit sveltejs/template my-app
cd my-app
npm i
npm i -D svelte-windicss-preprocess

Running now works fine.

But adding the required lines in rollup.config.js

import { windi } from 'svelte-windicss-preprocess';

and

preprocess: [w

[2021-11-07 16:32] Grymse commented on #306
https://github.com/Grymse/svelte-windicss-bug/

[2021-11-07 16:47] alexanderniebuhr commented on #306
I'll check and see if I find the issue

[2021-11-07 18:32] alexanderniebuhr commented on #306
@Grymse use v4.1.6-beta.2 please. will be available in next stable update soon.
[code]

[2021-11-10 14:52] #306 closed

[2021-11-15 09:38] philippdormann opened #329 "darkmode config does not work as configured"
### Describe the bug

not sure if it's my fault, but the darkmode config is not working when setting to `darkMode: 'media'`

the classes generated are only prefixed with `.dark` instead of wrapped within `@media (prefers-color-scheme: dark) {`

clean reproduction [repo here](https://github.com/philippdormann/sveltekit-windicss-darkmode-bug-reproduction)

[stackblitz reproduction here](https://stac

[2021-11-15 10:47] alexanderniebuhr commented on #329
Thanks for the report. I will try to reproduce this issue, however I don't have it in my repos.

[2021-11-18 14:53] skytracer opened #336 "css keyframes are purged in 4.1"
### Describe the bug

Keyframes in Svelte components are removed in 4.1.x, but it is `working` in 4.0.12
For example, this component works fine in Svelte REPL

`<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <circle
    cx="50"
    cy="50"
    r="40"
    vector-effect="non-scaling-stroke"
    class="animate"
  />
</svg>

<style>
  svg {
    height: 100%;
    width: 100%;
    fill

[2021-11-18 20:55] alexanderniebuhr commented on #329
Sorry for coming back lately. But I think you miss to define the configPath in your `windi({})` call

[2021-12-05 09:01] alexanderniebuhr commented on #336
I think i found the issue. That should be fixed with https://github.com/windicss/svelte-windicss-preprocess/commit/425b8b94985106aa36dd4a7056e1b7ac8c60c572
I will release a new version either today or tomorrow.

[2021-12-07 13:54] moisesbites opened #374 "4.2.3 broke some things"
### Describe the bug

if no <style> tag is in the ".svelte" file, inline classes do not function.

color, grid, flex, many classes windi or tailwind only work if I put tag <style></style> in the file svelte.

### System Info

[code]

### Used Package Manager

npm

[2021-12-07 13:58] alexanderniebuhr commented on #374
Thanks.. Known.
There are no major new features activated by default, so you can force 4.1 for now.

[2021-12-07 13:58] alexanderniebuhr commented on #336
Works in 4.2.. however not quite stable yet

[2021-12-07 13:58] #336 closed

[2021-12-07 14:00] moisesbites commented on #374
Ok... I will... Thank you.

[2021-12-07 14:29] creatrice commented on #374
Hi, had the issue with dark mode with windi + svelte, after updating svelte-windicss-preprocess to 4.2.3 my issue with dark mode overwriting seems solved.

[2021-12-07 15:05] alexanderniebuhr commented on #374
Glad you have your expected behavior. However 4.2 will get some more updates to handle regression. If you have a specific issue please open an additional issue.

[2021-12-07 18:29] moisesbites commented on #374
Just, one detail:

If style is like that, inline classes don't work:
[code]

If style is like that, inline classes work fine:
[code]

[2021-12-27 01:10] dslatkin opened #400 "Any component that has at least one element with a class results in a preprocessor error"
### Describe the bug

I see the following error exposed by the Svelte VS Code extension on any component that has at least one element with a class:

![image](https://user-images.githubusercontent.com/9263640/147424617-fa331a3d-8d05-436e-92df-62117c7138e7.png)

Looking at the Svelte extension output, this is the stack trace for the error:

[code]

I'm happy to help if you need any more information

[2021-12-27 01:58] dslatkin commented on #400
So with Jason's help on the Svelte Discord, I figured out the issue was the bundled version of Node that ships with VS Code doesn't yet support `String.prototype.replaceAll`. Changing the extension setting `svelte.language-server.runtime` to explicitly point to my Node executable at `/usr/local/bin/node` fixed the issue.

Thank you!

[2021-12-27 06:59] alexanderniebuhr commented on #400
Yeah I was just thinking it has to be a node issue, but since you have node 16 I was confused.
We can rebuild that function to use global regexes ..

[2022-01-02 19:32] Grymse opened #409 "findIndex break windi preprocessor from point of call"
### Describe the bug

Hi.

I've found a way to break Windi when using SvelteKit. Takes only a single line :)

Only file in routes is Index.svelte. It contains:
[code]

The first line breaks any attempt at using Windi after that. This means that "No work" will not be in red text color as expected.

Observations:
- The specific function findIndex(....) seems to cause the bug. Changing it to true, wi

[2022-01-03 05:19] silasabbott commented on #400
Just to add on to this:

Node 14 throws this error. Node 16 doesn't throw this error. If you're using `.nvm`, set your `.nvmrc` to 16 or run `nvm use 16` before running `rpm run dev` to avoid this error.

[2022-01-07 16:34] moisesbites opened #422 "class="$$props.class" is not working"
### Describe the bug

When using $$props.class in a component, the windicss classes is not working inside the component:

Fo example, in the `page`:
[code]

In the `SomeComponent`:
[code]

The text would be blue-700 but is not working.
But if I put inside the component the same windicss class I'm passing into in another snippet of page , the classes work correctly in both texts. For example:

In t

[2022-01-07 16:44] moisesbites commented on #422
I solved using this:
[code]

[2022-01-07 16:49] alexanderniebuhr commented on #422
That is actually the expected behavior.

I can see if i can improve that in an future update, but no promise!

[2022-01-07 17:06] moisesbites commented on #422
@alexanderniebuhr Thank you very much.

For while, I'm using that function to solve this Issue, but if there was a more elegant way to solve this automatically, it would be much appreciated.

[2022-01-18 22:55] genericFJS opened #431 "Classes of typescript components don't get processed with svelte kit"
### Describe the bug

Classes in a component with `<script lang="ts>…`  get ignored by the preprocessor, when they don't have their own `<style windi:preflights:global windi:safelist:global>…`.

See simple repository with examples: https://github.com/toolongformore/svelte-windicss-preprocess-ts-bug/

Works:
[code]

Doesn't work:
[code]

Related (?): Empty windi-style-tags with closing tag on same

[2022-01-19 05:54] alexanderniebuhr commented on #431
Mhm that more sounds like an ordering issue with preprocessors. Since Typescript also needs a preprocessor. Do you have a repo for us to try out!?

[2022-01-19 09:19] genericFJS commented on #431
@alexanderniebuhr thanks for looking into it.
See https://github.com/toolongformore/svelte-windicss-preprocess-ts-bug/

[2022-01-30 13:11] chaosprint opened #439 "Not working for hello world"
### Describe the bug

Then follow this to init Svelte:
[code]
I follow the step on:
https://windicss.org/integrations/svelte.html

But when I add to `rollup.config.js`:
[code]
I got:
[code]

### System Info

[code]

### Used Package Manager

pnpm

[2022-01-30 13:21] alexanderniebuhr commented on #439
you are not using a node version which is supported.
node 16 should work

[2022-01-30 16:36] chaosprint commented on #439
oh yes it works now

[2022-01-30 16:36] #439 closed

[2022-02-08 07:39] #400 closed

[2022-03-07 10:09] jacobbowdoin commented on #431
I also ran into this problem in using typescript and windi. Isn't it the same problem as https://github.com/windicss/svelte-windicss-preprocess/issues/374? It's solved for me by setting the package to ~4.1.0 as mentioned.

[2022-04-04 09:02] jacob-8 commented on #422
@moisesbites I wrote a preprocessor to overcome this challenge: https://www.npmjs.com/package/svelte-deep-wind-preprocess

[2022-04-04 09:17] jacob-8 opened #507 "RTL styles don't work if `dir="rtl"` is outside of component (always)"
### Describe the bug

`dir="rtl"` will almost always be set pretty close to the document body element (ie - outside of the Svelte component at hand), so when svelte-windicss-preprocessor sees an `rtl` class like `rtl:left-2` it will put `[dir='rtl'] .rtl\:left-2` and `[dir='rtl'].rtl\:left-2` into the style block which will promptly be removed by the svelte compiler (and it will give you a notice)

[2022-04-04 11:31] alexanderniebuhr commented on #507
That is actually the use case of global vs scoped styles.
Not sure what the issue is.

But there are some updates to global style handling coming soo.

[2022-04-06 22:39] moisesbites commented on #422
Thank you. I will try. Please, it would be interesting to correct the github project reference in the https://www.npmjs.com/package/svelte-deep-wind-preprocess.

[2022-04-07 08:12] jacob-8 commented on #422
Sorry about that. I'm doing some refactoring and haven't merged to the main branch yet, at which point that URL will be correct. Use https://github.com/livingtongues/living-dictionaries/tree/add-kitbook/packages/svelte-deep-wind-preprocess in the meantime.

Note that I also added some rtl support in the same preprocessor that only applies when `{rtl: true}` is passed as an argument to the preproce

[2022-04-07 08:23] jacob-8 commented on #507
I guess I want to point out the larger issue that there are certain set of classes which by their very nature extend beyond a single component and will always be removed by the svelte compiler when they are scoped. `rtl:...` classes and things like `.space-x-1` when you are spacing multiple `<Button>` components for example.

The [advice](https://windicss.org/integrations/svelte.html#windi-css-cla

[2022-06-03 07:25] lisebee opened #574 "Can't use the new color in "svelte-windicss-preprocess""
I install "svelte-windicss-preprocess", but the version of windicss it depends on is 3.2.1. If I want to use the color "stone", then windicss version must be 3.4.0. Would someone please update "svelte-windicss-preprocess" ?

[2022-06-03 09:08] #574 closed

[2022-06-03 09:45] lisebee commented on #574
Thank you for your help ! I've been able to use the new color normally. Windicss is the best choice !

[2022-08-19 16:57] moisesbites commented on #431
try this: `preprocess: [windi({}), preprocess()],` in svelte.config.js.

[code]

[2022-08-21 10:41] jacob-8 commented on #431
Doesn't change anything. Bug still persists in latest version (4.2.8).

[2022-09-24 08:45] mquandalle opened #672 "Dark variant doesn't work with @apply directive"
### Describe the bug

See reproduction https://stackblitz.com/edit/sveltejs-kit-template-default-p8gsnc?file=src/routes/+page.svelte

The `dark:` modifier doesn't work in a component with the apply directive:

[code]

However it works if I explicitly add a wrapper with `dark` class inside the component:

[code]

But unless I miss something the `dark` modifier shouldn't be scoped to components, oth

[2022-09-24 14:45] alexanderniebuhr commented on #672
Yeah, that is a scoping issue, as well as an issue that svelte removes unused classes in files. contributions welcome.

[2022-09-25 14:35] mquandalle commented on #672
I think it should generate `:global(.dark) rest-of-selector` to fix the issue?

[2022-09-28 05:49] jeremyjacob opened #679 "@iconify/json included by default, adding ~40mb to the download"
### Describe the bug

The package @iconify/json is included in the devDependancies, which I gather to be an experimental feature. Looks cool, but this forces users of this package to download about 40 megs of JSON definition files, just to import a type. Consider re-typing this definition manually to avoid the large dependancy.

### System Info

[code]

### Used Package Manager

pnpm

[2022-10-01 08:16] alexanderniebuhr commented on #672
I think using the global attribute fixes that right?

[code]

[2022-10-01 08:18] alexanderniebuhr commented on #672
otherwise it is an duplicate of https://github.com/windicss/svelte-windicss-preprocess/issues/507

[2022-10-01 08:18] #672 closed

[2022-10-01 15:55] mquandalle commented on #672
Hum `<style global>` or `<style windi:global>` doesn't seem to fix the issue (cf. reproduction in OP)